<div>
    <h2>
        <span jhiTranslate="jetkizuApp.routeBranchStatusHistory.home.title">Route Branch Status Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-route-branch-status-history" [routerLink]="['/', { outlets: { popup: ['route-branch-status-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.routeBranchStatusHistory.home.createLabel">
            Create new Route Branch Status History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.routeBranchStatusHistory.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="routeBranchStatusHistories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jetkizuApp.routeBranchStatusHistory.createDateTime">Create Date Time</span></th>
            <th><span jhiTranslate="jetkizuApp.routeBranchStatusHistory.flagDeleted">Flag Deleted</span></th>
            <th><span jhiTranslate="jetkizuApp.routeBranchStatusHistory.status">Status</span></th>
            <th><span jhiTranslate="jetkizuApp.routeBranchStatusHistory.routeBranch">Route Branch</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let routeBranchStatusHistory of routeBranchStatusHistories ;trackBy: trackId">
                <td><a [routerLink]="['../route-branch-status-history', routeBranchStatusHistory.id ]">{{routeBranchStatusHistory.id}}</a></td>
                <td>{{routeBranchStatusHistory.createDateTime | date:'medium'}}</td>
                <td>{{routeBranchStatusHistory.flagDeleted}}</td>
                <td jhiTranslate="{{'jetkizuApp.RouteBranchStatus.' + routeBranchStatusHistory.status}}">{{routeBranchStatusHistory.status}}</td>
                <td>
                    <div *ngIf="routeBranchStatusHistory.routeBranch">
                        <a [routerLink]="['../route-branch', routeBranchStatusHistory.routeBranch?.id ]" >{{routeBranchStatusHistory.routeBranch?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../route-branch-status-history', routeBranchStatusHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'route-branch-status-history/'+ routeBranchStatusHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'route-branch-status-history/'+ routeBranchStatusHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
