<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRouteBranchStatusHistoryLabel" jhiTranslate="jetkizuApp.routeBranchStatusHistory.home.createOrEditLabel">Create or edit a Route Branch Status History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!routeBranchStatusHistory.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="routeBranchStatusHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeBranchStatusHistory.createDateTime" for="field_createDateTime">Create Date Time</label>
            <div class="d-flex">
                <input id="field_createDateTime" type="datetime-local" class="form-control" name="createDateTime" [(ngModel)]="routeBranchStatusHistory.createDateTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeBranchStatusHistory.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
            <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                [(ngModel)]="routeBranchStatusHistory.flagDeleted"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeBranchStatusHistory.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="routeBranchStatusHistory.status" id="field_status"  required>
                <option value="DRAFT">{{'jetkizuApp.RouteBranchStatus.DRAFT' | translate}}</option>
                <option value="IN_PROCESS">{{'jetkizuApp.RouteBranchStatus.IN_PROCESS' | translate}}</option>
                <option value="DELIVERING">{{'jetkizuApp.RouteBranchStatus.DELIVERING' | translate}}</option>
                <option value="DELIVERED">{{'jetkizuApp.RouteBranchStatus.DELIVERED' | translate}}</option>
                <option value="FAILED">{{'jetkizuApp.RouteBranchStatus.FAILED' | translate}}</option>
                <option value="SKIPPED">{{'jetkizuApp.RouteBranchStatus.SKIPPED' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeBranchStatusHistory.routeBranch" for="field_routeBranch">Route Branch</label>
            <select class="form-control" id="field_routeBranch" name="routeBranch" [(ngModel)]="routeBranchStatusHistory.routeBranch" >
                <option [ngValue]="null"></option>
                <option [ngValue]="routeBranchOption.id === routeBranchStatusHistory.routeBranch?.id ? routeBranchStatusHistory.routeBranch : routeBranchOption" *ngFor="let routeBranchOption of routebranches; trackBy: trackRouteBranchById">{{routeBranchOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
