
<div *ngIf="routeBranchStatusHistory">
    <h2><span jhiTranslate="jetkizuApp.routeBranchStatusHistory.detail.title">Route Branch Status History</span> {{routeBranchStatusHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.routeBranchStatusHistory.createDateTime">Create Date Time</span></dt>
        <dd>
            <span>{{routeBranchStatusHistory.createDateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeBranchStatusHistory.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{routeBranchStatusHistory.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeBranchStatusHistory.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'jetkizuApp.RouteBranchStatus.' + routeBranchStatusHistory.status}}">{{routeBranchStatusHistory.status}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeBranchStatusHistory.routeBranch">Route Branch</span></dt>
        <dd>
            <div *ngIf="routeBranchStatusHistory.routeBranch">
                <a [routerLink]="['/route-branch', routeBranchStatusHistory.routeBranch?.id]">{{routeBranchStatusHistory.routeBranch?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'route-branch-status-history/'+ routeBranchStatusHistory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
