
<div *ngIf="location">
    <h2><span jhiTranslate="jetkizuApp.location.detail.title">Location</span> {{location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.location.street">Street</span></dt>
        <dd>
            <span>{{location.street}}</span>
        </dd>
        <dt><span>Дом</span></dt>
        <dd>
            <span>{{location.home}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.location.flat">Flat</span></dt>
        <dd>
            <span>{{location.flat}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.location.fullAddress">fullAddress</span></dt>
        <dd>
            <span>{{location.fullAddress}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.location.postindex">Postindex</span></dt>
        <dd>
            <span>{{location.postindex}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.location.lat">Lat</span></dt>
        <dd>
            <span>{{location.lat}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.location.lon">Lon</span></dt>
        <dd>
            <span>{{location.lon}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'location/'+ location.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
