<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLocationLabel" jhiTranslate="jetkizuApp.location.home.createOrEditLabel">Create or edit a Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div id="map" style="height: 500px;"></div>
        <div class="form-group" [hidden]="!location.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="location.id" readonly />
        </div>
        <div class="form-group">
            <ng-template #rtk let-r="result" let-t="term">
                {{ r.addressRus}}
            </ng-template>
            <label for="typeahead-http-kazpost">Search for a wiki page:</label>
            <input id="typeahead-http-kazpost" type="text" class="form-control" name="kazpost"
                   [class.is-invalid]="searchFailed" [(ngModel)]="modelKazpost" [ngbTypeahead]="searchKazpost"
                   [resultTemplate]="rtk"
                   [inputFormatter]="formatterKazpost"
                   placeholder="Kazpost search" />
            <span *ngIf="searching">searching...</span>
            <hr>
            <pre>Model: {{ modelKazpost | json }}</pre>
            <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
        </div>
        <div class="form-group">
            <ng-template #rty let-r="result" let-t="term">
                {{ r.metaDataProperty.GeocoderMetaData.text}}
            </ng-template>
            <label for="typeahead-http-yandex">Search for a wiki page:</label>
            <input id="typeahead-http-yandex" type="text" class="form-control" name="yandex"
                   [class.is-invalid]="searchFailed" (selectItem)="selectedYandexItem($event)" [(ngModel)]="modelYandex" [ngbTypeahead]="searchYandex"
                   [resultTemplate]="rty"
                   [inputFormatter]="formatterYandex"
                   placeholder="Yandex" />
            <span *ngIf="searching">searching...</span>
            <hr>
            <pre>Model: {{ modelYandex | json }}</pre>
            <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.location.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                [(ngModel)]="location.street" required />
            <div [hidden]="!(editForm.controls.street?.dirty && editForm.controls.street?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.street?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.location.home" for="field_home">Home</label>
            <input type="text" class="form-control" name="home" id="field_home"
                [(ngModel)]="location.home" required />
            <div [hidden]="!(editForm.controls.home?.dirty && editForm.controls.home?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.home?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.location.flat" for="field_flat">Flat</label>
            <input type="text" class="form-control" name="flat" id="field_flat"
                [(ngModel)]="location.flat"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.location.postindex" for="field_postindex">Postindex</label>
            <input type="text" class="form-control" name="postindex" id="field_postindex"
                [(ngModel)]="location.postindex"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.location.lat" for="field_lat">Lat</label>
            <input type="text" class="form-control" name="lat" id="field_lat"
                [(ngModel)]="location.lat"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.location.lon" for="field_lon">Lon</label>
            <input type="text" class="form-control" name="lon" id="field_lon"
                [(ngModel)]="location.lon"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
