<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
    <!-- BEGIN: Aside Menu -->
    <div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
            <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                <a  routerLink="/index" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
							<span class="m-menu__link-badge">
								<span class="m-badge m-badge--danger">
									2
								</span>
							</span>
						</span>
					</span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    Angular
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                <a  routerLink="/angular/ng-bootstrap" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-settings"></i>
                    <span class="m-menu__link-text">
						Ng-Bootstrap
					</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-md-3">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link" [routerLink]="['jetkizu']">
                        <i class="fa fa-fw fa-first-order" aria-hidden="true"></i>
                        <!--<span jhiTranslate="global.menu.entities.jetkizu">Jetkizu</span>-->
                        <span>Заявки</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link" [routerLink]="['jetkizu-route']">
                        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                        <!--<span jhiTranslate="global.menu.entities.jetkizuRoute">Jetkizu Route</span>-->
                        <span>Активные маршруты</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link" [routerLink]="['team']">
                        <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                        <!--<span jhiTranslate="global.menu.entities.team">Team</span>-->
                        <span>Команда</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link" [routerLink]="['vehicle']">
                        <i class="fa fa-fw fa-car" aria-hidden="true"></i>
                        <!--<span jhiTranslate="global.menu.entities.team">Team</span>-->
                        <span>Транспорт</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
