<!-- BEGIN: Left Aside -->
<!--<button class="m-aside-left-close  m-aside-left-close&#45;&#45;skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>-->

	<!-- BEGIN: Aside Menu -->
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="jetkizu" class="m-menu__link">
					<i class="m-menu__link-icon fa fa-address-book"></i>
					<span class="m-menu__link-text">
						Заявки
					</span>
				</a>
			</li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                <a  routerLink="jetkizu-route" class="m-menu__link">
                    <i class="m-menu__link-icon fa fa-road"></i>
                    <span class="m-menu__link-text">
						Активные маршруты
					</span>
                </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                <a  routerLink="team" class="m-menu__link">
                    <i class="m-menu__link-icon fa fa-group"></i>
                    <span class="m-menu__link-text">
						Команда
					</span>
                </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                <a  routerLink="vehicle" class="m-menu__link">
                    <i class="m-menu__link-icon fa flaticon-truck"></i>
                    <span class="m-menu__link-text">
						Транспорт
					</span>
                </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                <a  routerLink="area" class="m-menu__link">
                    <i class="m-menu__link-icon fa flaticon-map-location"></i>
                    <span class="m-menu__link-text">
						Участок
					</span>
                </a>
            </li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
<!-- END: Left Aside -->
