
<div *ngIf="area">
    <h2>{{area.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.area.description">description</span></dt>
        <dd>
            <span>{{area.description}}</span>
        </dd>
    </dl>

    <div>
        <div class="row">
            <div class="col-md-4">
                <h2>
                    <span jhiTranslate="jetkizuApp.areaNode.home.title">Area Nodes</span>
                    <button class="btn btn-primary float-right jh-create-entity create-area-node" [routerLink]="['/', { outlets: { popup: 'area-node-new/'+ area.id } }]">
                        <span class="fa fa-plus"></span>
                        <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.areaNode.home.createLabel">
                        Create new Area Node
                        </span>
                    </button>
                </h2>
                <jhi-alert></jhi-alert>
                <!--<div class="row">
                    <div class="col-sm-12">
                        <form name="searchForm" class="form-inline">
                            <div class="input-group w-100 mt-3">
                                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.areaNode.home.search' | translate }}">
                                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                                    <span class="fa fa-search"></span>
                                </button>
                                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                    <span class="fa fa-trash-o"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <br/>-->
                <div class="table-responsive" *ngIf="areaNodes">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th><span jhiTranslate="jetkizuApp.areaNode.name">Name</span></th>
                            <th><span jhiTranslate="jetkizuApp.areaNode.team">TS</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let areaNode of areaNodes ;trackBy: trackId" (mouseenter) ="mouseEnter(areaNode.id, [areaNode.polygon[0][0], areaNode.polygon[0][1]]) "  (mouseleave) ="mouseLeave(areaNode.id)">
                            <td>{{areaNode.name}}</td>
                            <td>{{areaNode.team?.name || 'отсутствует'}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <!--<button type="submit"
                                            [routerLink]="['../area-node', areaNode.id ]"
                                            class="btn btn-info btn-sm">
                                        <span class="fa fa-eye"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>-->
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'area-node/'+ areaNode.id + '/'+ area.id + '/edit'} }]"
                                            replaceUrl="true"
                                            class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'area-node/'+ areaNode.id + '/delete'} }]"
                                            replaceUrl="true"
                                            class="btn btn-danger btn-sm">
                                        <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div id="areaMap" style="height: 500px;"></div>
            </div>
        </div>
    </div>


    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'area/'+ area.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
