<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCustomerLabel" jhiTranslate="jetkizuApp.customer.home.createOrEditLabel">Create or edit a Customer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!customer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="customer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.customer.senderFio" for="field_senderFio">Sender Fio</label>
            <input type="text" class="form-control" name="senderFio" id="field_senderFio"
                [(ngModel)]="customer.senderFio"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.customer.receiverFio" for="field_receiverFio">Receiver Fio</label>
            <input type="text" class="form-control" name="receiverFio" id="field_receiverFio"
                [(ngModel)]="customer.receiverFio" required />
            <div [hidden]="!(editForm.controls.receiverFio?.dirty && editForm.controls.receiverFio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.receiverFio?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.customer.cellPhone" for="field_cellPhone">Cell Phone</label>
            <input type="text" class="form-control" name="cellPhone" id="field_cellPhone"
                [(ngModel)]="customer.cellPhone" required />
            <div [hidden]="!(editForm.controls.cellPhone?.dirty && editForm.controls.cellPhone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cellPhone?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.customer.homePhone" for="field_homePhone">Home Phone</label>
            <input type="text" class="form-control" name="homePhone" id="field_homePhone"
                [(ngModel)]="customer.homePhone"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
