
<div *ngIf="customer">
    <h2><span jhiTranslate="jetkizuApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.customer.senderFio">Sender Fio</span></dt>
        <dd>
            <span>{{customer.senderFio}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.customer.receiverFio">Receiver Fio</span></dt>
        <dd>
            <span>{{customer.receiverFio}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.customer.cellPhone">Cell Phone</span></dt>
        <dd>
            <span>{{customer.cellPhone}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.customer.homePhone">Home Phone</span></dt>
        <dd>
            <span>{{customer.homePhone}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
