
<div *ngIf="report">
    <h2><span jhiTranslate="jetkizuApp.report.detail.title">Report</span> {{report.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.report.code">Code</span></dt>
        <dd>
            <span>{{report.code}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.report.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'jetkizuApp.ReportType.' + report.type}}">{{report.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'report/'+ report.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
