<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTeamMemberLabel" jhiTranslate="jetkizuApp.teamMember.home.createOrEditLabel">Create or edit a Team Member</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!teamMember.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="teamMember.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.teamMember.fio" for="field_fio">Fio</label>
            <input type="text" class="form-control" name="fio" id="field_fio"
                [(ngModel)]="teamMember.fio" required />
            <div [hidden]="!(editForm.controls.fio?.dirty && editForm.controls.fio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fio?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.teamMember.cellPhone" for="field_cellPhone">Cell Phone</label>
            <input type="text" class="form-control" name="cellPhone" id="field_cellPhone"
                [(ngModel)]="teamMember.cellPhone" required />
            <div [hidden]="!(editForm.controls.cellPhone?.dirty && editForm.controls.cellPhone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cellPhone?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.teamMember.identifier" for="field_identifier">Identifier</label>
            <input type="text" class="form-control" name="identifier" id="field_identifier"
                [(ngModel)]="teamMember.identifier"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.teamMember.team" for="field_team">Team</label>
            <select class="form-control" id="field_team" name="team" [(ngModel)]="teamMember.team" >
                <option [ngValue]="null"></option>
                <option [ngValue]="teamOption.id === teamMember.team?.id ? teamMember.team : teamOption" *ngFor="let teamOption of teams; trackBy: trackTeamById">{{teamOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
