
<div *ngIf="teamMember">
    <h2><span jhiTranslate="jetkizuApp.teamMember.detail.title">Team Member</span> {{teamMember.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.teamMember.fio">Fio</span></dt>
        <dd>
            <span>{{teamMember.fio}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.teamMember.cellPhone">Cell Phone</span></dt>
        <dd>
            <span>{{teamMember.cellPhone}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.teamMember.identifier">Identifier</span></dt>
        <dd>
            <span>{{teamMember.identifier}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.teamMember.team">Team</span></dt>
        <dd>
            <div *ngIf="teamMember.team">
                <a [routerLink]="['/team', teamMember.team?.id]">{{teamMember.team?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'team-member/'+ teamMember.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
