<!-- begin::Page loader -->
<div class="m-page-loader m-page-loader--non-block" style="margin-left: -80px; margin-top: -20px;">
    <div class="m-blockui">
		<span>
			Please wait...
		</span>
        <span>
			<div class="m-loader m-loader--brand"></div>
		</span>
    </div>
</div>
<!-- end::Page loader -->

<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
        <router-outlet name="app-aside-nav"></router-outlet>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content"><router-outlet></router-outlet></div>
    </div>
</div>
<router-outlet name="popup"></router-outlet>
<jhi-footer></jhi-footer>
<!--<div id="wrapper" class="toggled">
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="card jh-card">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
    </div>
</div>-->
