<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="global.import.import-csv-header">Import csv</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center" *ngIf="!lines">
        <div class="col-md-8">


            <dropzone
                [message]="'Кликните или переместите CSV файл сюда чтобы импортировать'"
                (error)="onUploadSuccess($event)"
                (success)="onUploadSuccess($event)"></dropzone>
            <!--<div class="dropzone"
                 [message]="'Кликните или переместите CSV файл сюда чтобы импортировать'"
                 [dropzone]="dropzoneConfig"
                 (error)="onUploadSuccess($event)"
                 (success)="onUploadSuccess($event)"
                 style="border: 2px dashed rgba(0,0,0,0.3);">
                <div style="text-align: center">
                    <p><i class="fa fa-upload" style="text-align: center"></i></p>
                </div>
            </div>-->


            <!--<form class="form" role="form" (ngSubmit)="importCsv()">
                <div class="form-group">
                    <label for="csv_file" jhiTranslate="global.import.csv-file">Csv File</label>
                    <div>
                        <div *ngIf="attachmentFile.file" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(attachmentFile.fileContentType, attachmentFile.file)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{attachmentFile.fileContentType}}, {{byteSize(attachmentFile.file)}}</span>
                            <button type="button" (click)="attachmentFile.file=null;attachmentFile.fileContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <span class="fa fa-times"></span>
                            </button>
                        </div>
                        <input type="file" id="csv_file" (change)="setFileData($event, attachmentFile, 'file', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="file" id="field_file"
                           [(ngModel)]="attachmentFile.file"  />
                    <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                           [(ngModel)]="attachmentFile.fileContentType" />
                </div>
                &lt;!&ndash;<button type="submit" class="btn btn-primary" jhiTranslate="global.import.import-button">Import</button>&ndash;&gt;
            </form>-->
        </div>
    </div>
    <div class="row" *ngIf="importStatus === 'field' && lines && lines.length">
        <div class="col-md-12">
            <div class="table-responsive" style="max-height: 500px;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th *ngFor="let header of csvFileHeader">
                            <select class="form-control" id="csv_field" [(ngModel)]="header.field">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="header.field.id === csvField.id ? header.field : csvField" *ngFor="let csvField of csvFields">{{csvField.name}}</option>
                            </select>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let line of lines">
                        <td *ngFor="let col of line">
                            {{col}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="importStatus === 'address'">
        <div class="col-md-6">
            <ngb-tabset *ngIf="routeBranchContainer">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        Найденные ({{routeBranchContainer.foundBranches.length}})
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr *ngFor="let branch of routeBranchContainer.foundBranches | skOrderBy: 'order'; let i = index">
                                    <td>{{branch.order}}.</td>
                                    <td>
                                        <i class="fa fa-map-marker"></i> {{branch.endTo.fullAddress}}
                                        <br>
                                        <b>Заказчик: </b>{{branch.customer?.receiverFio || 'Не указано'}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        Не найдено ({{routeBranchContainer.notFoundBranches.length}})
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="">
                            <table class="table">
                                <tbody>
                                <tr [ngClass]="{'table-danger': branch.endTo.flagOsmNotFound, 'table-success': !branch.endTo.flagOsmNotFound}"
                                    *ngFor="let branch of routeBranchContainer.notFoundBranches | skOrderBy: 'order'; let i = index">
                                    <td>{{branch.order}}.</td>
                                    <td>
                                        <ng-template #osmTemplate let-r="result" let-t="term">
                                            {{ r.display_name}}
                                        </ng-template>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon2">
                                                <i class="fa fa-search" *ngIf="!searching"></i>
                                                <i class="fa fa-spinner fa-pulse" *ngIf="searching"></i>
                                            </span>
                                            <input id="location-osm" type="text" class="form-control" name="osm"
                                                   [class.is-invalid]="searchFailed"
                                                   (selectItem)="selectedOsmItem($event, branch)"
                                                   [ngbTypeahead]="searchOsm"
                                                   [resultTemplate]="osmTemplate"
                                                   [inputFormatter]="formatterOsm"
                                                   placeholder="Введите адрес для поиска" />
                                        </div>
                                        <br>
                                        <b>Заказчик: </b>{{branch.customer?.receiverFio || 'Не указано'}}
                                        <br>
                                        <b>Оригинальный адрес: </b>{{branch.endTo.fullAddress}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div class="col-md-6">
            <div id="map" style="min-height: 500px;"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="back()"
            *ngIf="importStatus === 'field' || importStatus === 'address'">
        Назад
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('closed')">
        Отмена
    </button>
    <button type="button" class="btn btn-primary" (click)="proceed()" *ngIf="importStatus === 'field'">
        Продолжить
    </button>
    <button type="button" class="btn btn-primary" [disabled]="isSaving" (click)="submit()" *ngIf="importStatus === 'address'">
        Завершить импорт
    </button>
</div>
