
<div class="m-portlet m-portlet--brand m-portlet--head-solid-bg">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-diagram"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    {{jetkizuRoute.name || (jetkizuRoute.jetkizuDate | date:'dd.MM.yy')}}
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <jhi-alert></jhi-alert>
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-md-4">
                <div class="m-section">
                    <!--<h3 class="m-section__heading">
                        State Colors
                    </h3>-->
                    <div class="m-section__content">
                        <div class="m-demo">
                            <div class="m-demo__preview">
                                <div class="m-list-timeline">
                                    <div class="m-list-timeline__items">
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                            <span class="m-list-timeline__text">
                                                <span class="m-badge m-badge--success m-badge--wide">
                                                    START
                                                </span>
                                                <span>{{jetkizuRoute.start?.street}} {{jetkizuRoute.start?.home}}</span>
                                            </span>
                                        </div>
                                        <div class="m-list-timeline__item"
                                             *ngFor="let branch of routeBranches | skOrderBy : ['order', 'id']">
                                            <span class="m-list-timeline__badge m-list-timeline__badge--warning"></span>
                                            <span class="m-list-timeline__text">
                                                {{branch.order - 1 || ''}}) <span *ngIf="branch.endTo?.fullAddress; else emptyAddress">{{branch.endTo.fullAddress}}</span>
                                                <ng-template #emptyAddress>{{branch.endTo.street}}, {{branch.endTo.home}}</ng-template>
                                            </span>
                                            <span class="m-list-timeline__time">
                                                {{branch.textPlanDuration || 'N/A'}}
                                            </span>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                            <span class="m-list-timeline__text">
                                                <span class="m-badge m-badge--info m-badge--wide">
                                                    END
                                                </span>
                                                <span *ngIf="jetkizuRoute.tripType === 'ROUND_TRIP'; else oneway">{{jetkizuRoute.start?.street}} {{jetkizuRoute.start?.home}}</span>
                                                <ng-template #oneway><span>{{jetkizuRoute.end?.street}} {{jetkizuRoute.end?.home}}</span></ng-template>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-dropdown m-dropdown--inline m-dropdown--huge m-dropdown--arrow">
                            <a [routerLink]="['/', { outlets: { popup: 'jetkizu-route/'+ jetkizuRoute.id + '/add-jetkizu'} }]" class="m-dropdown__toggle btn btn-secondary dropdown-toggle">
                                <i class="fa fa-plus"></i> Добавить с резерва
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="map" style="height: 500px;"></div>
                <div class="m_datatable m-datatable m-datatable--default m-datatable--scroll m-datatable--loaded">
                    <table class="m-datatable__table table-bordered" style="display: block; min-height: 150px;">
                        <tbody class="m-datatable__body mCustomScrollbar _mCS_4 mCS-autoHide" style="position: relative; overflow: scroll;" data-scrollbar-shown="true">
                        <div id="mCSB_4_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px; min-width: 100%; overflow-x: inherit;" dir="ltr">
                            <tr data-row="0" class="m-datatable__row">
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="font-weight: 600; width: 90px; text-align: center">Прогресс</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="font-weight: 600; width: 90px; text-align: center"># адресов</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="font-weight: 600; width: 90px; text-align: center">Габариты</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="font-weight: 600; width: 90px; text-align: center">Доход</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="font-weight: 600; width: 90px; text-align: center">Вес</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="font-weight: 600; width: 90px; text-align: center">Расстояние</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="font-weight: 600; width: 90px; text-align: center">Общее время</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="font-weight: 600; width: 90px; text-align: center">Общее время сервиса</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="font-weight: 600; width: 90px; text-align: center">Время на пробке</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="font-weight: 600; width: 90px; text-align: center">Время ожидания</span></td>
                            </tr>
                            <tr data-row="1" class="m-datatable__row" style="height: 106px;">
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="width: 90px; text-align: center;">0%</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="width: 90px; text-align: center;">{{routeBranches.length}}</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="width: 90px; text-align: center;">0.00</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="width: 90px; text-align: center;">0.00 тг</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="width: 90px; text-align: center;">0.00</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="width: 90px; text-align: center;">{{jetkizuRoute?.distanceText || '0.0 км'}}</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="width: 90px; text-align: center;">{{jetkizuRoute?.durationText || '00ч:00м'}}</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="width: 90px; text-align: center;">00ч:00м</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="width: 90px; text-align: center;">N/A</span></td>
                                <td data-field="CompanyAgent" class="m-datatable__cell"><span style="width: 90px; text-align: center;">00ч:00м</span></td>
                                <!--<td data-field="Actions" class="m-datatable__cell">
                                    <span style="overflow: visible; width: 110px;">
                                        <div class="dropdown ">
                                            <a href="#" class="btn m-btn m-btn&#45;&#45;hover-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" data-toggle="dropdown">
                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>
                                                <a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>
                                                <a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>
                                            </div>
                                        </div>
                                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn&#45;&#45;hover-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" title="Edit details">
                                            <i class="la la-edit"></i>
                                        </a>
                                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn&#45;&#45;hover-danger m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill" title="Delete">
                                            <i class="la la-trash"></i>
                                        </a>
                                    </span>
                                </td>-->
                            </tr>
                        </div>
                        <!--<div id="mCSB_4_scrollbar_horizontal" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_4_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 534px; max-width: 1269.41px; left: 0px;">
                                    <div class="mCSB_dragger_bar"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet__foot">
        <div class="row align-items-center">
            <div class="col-lg-6 m--valign-middle">
            </div>
            <div class="col-lg-6 m--align-right">
                <button type="button"
                        (click)="previousState()"
                        class="btn btn-info">
                    <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>
            </div>
        </div>
    </div>
</div>
