<div class="m-portlet m-portlet--mobile" *ngIf="jetkizuRoutes">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa-road"></i>
                </span>
                <h3 class="m-portlet__head-text">Активные маршруты
                    <small>
                        активных: {{jetkizuRoutes.length}}
                    </small>
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <button class="btn btn-primary float-right jh-create-entity create-jetkizu-route" [routerLink]="['/', { outlets: { popup: ['jetkizu-route-new'] } }]">
                <span class="fa fa-plus"></span>
                <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.jetkizuRoute.home.createLabel">
                Create new Jetkizu Route
                </span>
            </button>
        </div>
    </div>
    <div class="m-portlet__body">
        <jhi-alert></jhi-alert>
        <div class="m-form m-form--label-align-right m--margin-bottom-30">
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-8">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group w-100 mt-3">
                                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.jetkizuRoute.home.search' | translate }}">
                                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                                        <span class="fa fa-search"></span>
                                    </button>
                                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                        <span class="fa fa-trash-o"></span>
                                    </button>
                                </div>
                            </form>
                            <div class="d-md-none m--margin-bottom-10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" *ngIf="jetkizuRoutes">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="name"><span jhiTranslate="jetkizuApp.jetkizuRoute.name">Наименование</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="jetkizuDate"><span jhiTranslate="jetkizuApp.jetkizuRoute.jetkizuDate">Jetkizu Date</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="startedDateTime"><span jhiTranslate="jetkizuApp.jetkizuRoute.startedDateTime">Started Date Time</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="stops"><span jhiTranslate="jetkizuApp.jetkizuRoute.stops">Остановки</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="team.id"><span jhiTranslate="jetkizuApp.jetkizuRoute.team">Team</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="planKm"><span jhiTranslate="jetkizuApp.jetkizuRoute.planKm">Plan Distance</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="planDuration"><span jhiTranslate="jetkizuApp.jetkizuRoute.planDuration">Plan Duration</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="progress"><span jhiTranslate="jetkizuApp.jetkizuRoute.progress">Progress (%)</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="factKm"><span jhiTranslate="jetkizuApp.jetkizuRoute.factKm">factKm</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="factDuration"><span jhiTranslate="jetkizuApp.jetkizuRoute.factDuration">factDuration</span> <span class="fa fa-sort"></span></th>
                    <!--<th></th>-->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let jetkizuRoute of jetkizuRoutes | skOrderBy : ['-id']; trackBy: trackId">
                    <td><a [routerLink]="['../jetkizu-route', jetkizuRoute.id ]">{{jetkizuRoute.name}}</a></td>
                    <td>{{jetkizuRoute.jetkizuDate | date:'dd.MM.yy'}}</td>
                    <td>{{jetkizuRoute.startedDateTime | date:'dd.MM.yy HH:MM'}}</td>
                    <td>{{jetkizuRoute?.addressesAmount || 0}}</td>
                    <td>
                        <div *ngIf="jetkizuRoute.team">
                            {{jetkizuRoute.team?.lead?.lastName}} {{jetkizuRoute.team?.lead?.firstName}}
                            <!--<a [routerLink]="['../team', jetkizuRoute.team?.id ]" >{{jetkizuRoute.team?.name}}</a>-->
                        </div>
                    </td>
                    <!--<td>
                        {{jetkizuRoute.startedBy?.firstName}} {{jetkizuRoute.startedBy?.lastName}}
                    </td>-->
                    <td>
                        {{jetkizuRoute.distanceText}}
                    </td>
                    <td>
                        {{jetkizuRoute.durationText}}
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>N/A</td>
                    <!--<td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../jetkizu-route', jetkizuRoute.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'jetkizu-route/'+ jetkizuRoute.id + '/edit'} }]"
                                    replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'jetkizu-route/'+ jetkizuRoute.id + '/delete'} }]"
                                    replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="jetkizuRoutes && jetkizuRoutes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
