<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJetkizuRouteLabel" jhiTranslate="jetkizuApp.jetkizuRoute.home.createOrEditLabel">Create or edit a Jetkizu Route</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <ngb-tabset (tabChange)="tabChange($event)">
            <ngb-tab>
                <ng-template ngbTabTitle>Наименование</ng-template>
                <ng-template ngbTabContent>
                    <div class="form-group row">
                        <label class="form-control-label col-md-3">Наименование маршрута:</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="routeName" [(ngModel)]="jetkizuRoute.name" />
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Отъезд</ng-template>
                <ng-template ngbTabContent>
                    <div class="form-group row">
                        <ng-template #rty let-r="result" let-t="term">
                            {{ r.display_name}}
                        </ng-template>
                        <label for="typeahead-http-osm" class="form-control-label col-md-3"><span jhiTranslate="jetkizuApp.jetkizuRoute.deliveryFrom">From</span>:</label>
                        <div class="input-group col-md-5">
                            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" *ngIf="!searching"></i><i class="fa fa-spinner fa-pulse" *ngIf="searching"></i></span>
                            <input id="typeahead-http-osm" type="text" class="form-control" name="osm"
                                   [class.is-invalid]="searchFailed" (selectItem)="selectedOsmItem($event)" [(ngModel)]="modelOsm" [ngbTypeahead]="searchOsm"
                                   [resultTemplate]="rty"
                                   [inputFormatter]="formatterOsm"
                                   placeholder="Osm" />
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Расписание</ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuRoute.jetkizuDate" for="field_jetkizuDate">Jetkizu Date</label>
                                <div class="input-group">
                                    <input id="field_jetkizuDate" type="text" class="form-control" name="jetkizuDate" ngbDatepicker  #jetkizuDateDp="ngbDatepicker" [(ngModel)]="jetkizuRoute.jetkizuDate"
                                           required
                                    />
                                    <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary" (click)="jetkizuDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label" for="field_jetkizuTime">Время начала (HH:MM)</label>
                                <div>
                                    <!--<ngb-timepicker [(ngModel)]="jetkizuStartTime"></ngb-timepicker>-->
                                    <input type="text" class="form-control" name="startTime" id="field_jetkizuTime"
                                           [textMask]="{mask: timeMask}"
                                           [(ngModel)]="jetkizuRoute.startTimeHM"
                                           placeholder="__:__"
                                           required pattern="(^\d{2}:\d{2})"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label" for="field_jetkizuServiceTime">Время обслуживания (HH:MM)</label>
                                <input type="text" class="form-control" name="jetkizuServiceTime" id="field_jetkizuServiceTime"
                                       [textMask]="{mask: timeMask}"
                                       [(ngModel)]="jetkizuRoute.serviceDurationHM"
                                       placeholder="__:__"
                                       required pattern="(^\d{2}:\d{2})"/>
                                <!--<ngb-timepicker [(ngModel)]="serviceDuration"></ngb-timepicker>-->
                                <!--<input id="field_jetkizuServiceTime" type="text" class="form-control" name="jetkizuServiceTime" ngbDatepicker  [(ngModel)]="serviceDuration"
                                       required
                                />-->
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Оптимизация</ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label class="form-control-label col-md-6" for="field_maxVehicleDistance">Максимальное расстояние на ТС:</label>
                                <div class="col-md-6">
                                    <input id="field_maxVehicleDistance" type="number" class="form-control" name="maxVehicleDistance" [(ngModel)]="optimization.maxVehicleDistance"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-control-label col-md-6" for="field_maxRouteDuration">Максимальная продолжительность маршрута:</label>
                                <div class="col-md-6">
                                    <input id="field_maxRouteDuration" type="number" class="form-control" name="maxRouteDuration" [(ngModel)]="optimization.maxRouteDuration"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-control-label col-md-6" for="field_maxWeight">Максимальный вес на ТС:</label>
                                <div class="col-md-6">
                                    <input id="field_maxWeight" type="number" class="form-control" name="maxWeight" [(ngModel)]="optimization.maxWeight"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-control-label col-md-6" for="field_maxRouteRevenue">Максимальный доход маршрута:</label>
                                <div class="col-md-6">
                                    <input id="field_maxRouteRevenue" type="number" class="form-control" name="maxRouteRevenue" [(ngModel)]="optimization.maxRouteRevenue"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-control-label col-md-6" for="field_maxRouteStops">Максимум остановок на маршрут:</label>
                                <div class="col-md-6">
                                    <input id="field_maxRouteStops" type="number" class="form-control" name="maxRouteStops" [(ngModel)]="optimization.maxRouteStops"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-spinner fa-pulse" *ngIf="isTeamTabLoading"></i> Команда</ng-template>
                <ng-template ngbTabContent>
                    <div class="form-group row">
                        <label class="form-control-label col-md-3" for="field_area"><span jhiTranslate="jetkizuApp.jetkizuRoute.area">Area</span>:</label>
                        <div class="col-md-5">
                            <select class="form-control" id="field_area" name="area" [(ngModel)]="selectedArea" (change)="getAreaNodes($event)" required>
                                <option [ngValue]="null"></option>
                                <option [ngValue]="areaOption.id === jetkizuRoute.area?.id ? jetkizuRoute.area : areaOption"
                                        *ngFor="let areaOption of areas; trackBy: trackAreaById">{{areaOption.name}}</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table class="table m-table m-table--head-separator-primary" *ngIf="areaNodes">
                                    <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" class="form-control" name="selectAllNodes" [(ngModel)]="areNodesAllSelected" (change)="selectAllNodes()" />
                                        </th>
                                        <th>Участок</th>
                                        <th>Пользователь</th>
                                        <th>Машина</th>
                                        <th>Гос. Номер</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let areaNode of areaNodes; trackBy: trackAreaNodeId">
                                        <td>
                                            <input type="checkbox" class="form-control" name="selectedAreaNode" [(ngModel)]="areaNode.selected" />
                                        </td>
                                        <td>{{areaNode.name}}</td>
                                        <td>{{areaNode.team.lead.lastName}} {{areaNode.team.lead.firstName}}</td>
                                        <td><span *ngIf="areaNode.team?.vehicle">{{areaNode.team.vehicle.name || 'Не указано'}}</span></td>
                                        <td>
                                            <span *ngIf="areaNode?.team?.vehicle">{{areaNode.team.vehicle.govNumber || 'Не указано'}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <i class="fa fa-spinner fa-pulse" *ngIf="isAddressTabLoading"></i> Адреса
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="row" id="m_sortable_portlets" *ngIf="optimizedAddresses.length">
                        <div class="col-md-4">
                            <div class="m-portlet m-portlet--bordered m-portlet--unair">
                                <div class="m-portlet__body ghx-backlog-container ghx-sprint-active js-sprint-container ui-droppable ghx-open"
                                     style="padding: 0 0;" *ngFor="let optimizedRoute of optimizedAddresses; let routeIndex = index">
                                    <div class="ghx-backlog-header js-sprint-header" data-sprint-id="167">
                                        <div class="ghx-expander">
                                            <span class="ghx-iconfont aui-icon aui-icon-small aui-iconfont-expanded"></span>
                                        </div>
                                        <div class="ghx-name">
                                            <span class="field-value ghx-editable js-editable-field js-edit-sprintName-trigger"
                                                  tabindex="0" data-fieldname="sprintName" data-fieldvalue="IMPL Спринт 5"
                                                  data-maxdisplaylength="" *ngIf="!optimizedRoute.flagWithoutPolygons">
                                                <span>{{optimizedRoute.areaNode.name}},</span>
                                                <span *ngIf="optimizedRoute.areaNode?.team?.vehicle; else teamTemplate">{{optimizedRoute.areaNode.team.vehicle.name}}</span>
                                                <ng-template #teamTemplate>{{optimizedRoute.areaNode.team.name}}</ng-template>
                                            </span>
                                            <span class="field-value ghx-editable js-editable-field js-edit-sprintName-trigger"
                                                  tabindex="0" data-fieldname="sprintName" data-fieldvalue="IMPL Спринт 5"
                                                  data-maxdisplaylength="" *ngIf="optimizedRoute.flagWithoutPolygons">
                                                <span>На резерве</span>
                                            </span>
                                        </div>
                                        <div class="ghx-issue-count">{{optimizedRoute.routeBranches.length}} {{getAddressSuffix(optimizedRoute.routeBranches.length)}}</div>
                                        <div class="ghx-badge-group ghx-right">
                                            <div ngbDropdown class="dropdown">
                                                <button type="button" class="btn btn-sm btn-default" ngbDropdownToggle>
                                                    <i class="fa fa-share"></i>
                                                </button>

                                                <ul class="dropdown-menu" ngbDropdownMenu>
                                                    <li *ngFor="let route of optimizedAddresses">
                                                        <a class="dropdown-item"
                                                           *ngIf="optimizedRoute.areaNode && (!route.areaNode || route.areaNode.id !== optimizedRoute.areaNode.id)"
                                                            (click)="moveToRoute(optimizedRoute.areaNode, route.areaNode)"
                                                        >
                                                            <span *ngIf="!route.flagWithoutPolygons; else withoutPolygonsTemplate">{{route.areaNode.name}}</span>
                                                            <ng-template #withoutPolygonsTemplate>На резерв</ng-template>
                                                        </a>
                                                        <a class="dropdown-item"
                                                           *ngIf="!optimizedRoute.areaNode && route.areaNode"
                                                           (click)="moveToRoute(optimizedRoute.areaNode, route.areaNode)">
                                                            <span>{{route.areaNode.name}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ghx-meta">
                                        <div class="ghx-issues js-issue-list ghx-has-issues">
                                            <!-- start sortable portlet -->
                                            <div class="m-portlet m-portlet--bordered m-portlet--unair"
                                                 *ngFor="let sequencedBranch of optimizedRoute.routeBranches | skOrderBy : ['order', 'id']; let i = index"
                                                style="margin-bottom: 0; margin-top: -1px;"
                                                 (mouseenter) ="branchMouseEnter(sequencedBranch.id, routeIndex)" (mouseleave) ="branchMouseLeave(sequencedBranch.id, routeIndex)">
                                                <div class="m-portlet__head " style="padding: 0; height: 2.1rem;">
                                                    <div class="m-portlet__head-caption">
                                                        <div class="m-portlet__head-title">
                                                            <div style="font-size: 14px;
                                                                max-width: 300px;
                                                                line-height: 2;
                                                                height: 22px;
                                                                overflow: hidden; padding-left: 5px;">
                                                                <span class="ghx-type" title="Task" style="margin-right: 5px;">
                                                                    <i class="fa "
                                                                       [ngClass]="{'fa-square-o': !sequencedBranch.selected, 'fa-check-square-o': sequencedBranch.selected}"
                                                                       (click)="selectAddress(sequencedBranch)"
                                                                        style="cursor: pointer;"></i>
                                                                </span>
                                                                <span>{{i+1}}</span>
                                                                <!--<span *ngIf="!optimizedRoute.flagWithoutPolygons; else indexedTemplate">{{sequencedBranch.order-1}}</span>
                                                                <ng-template #indexedTemplate>{{i+1}}</ng-template>-->.
                                                                {{sequencedBranch.endTo.fullAddress}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end sortable portlet -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="optimizedRouteMap" [style.height.px]="innerHeight"></div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

            <!--<ngb-tab>
                <ng-template ngbTabTitle>Команда</ng-template>
                <ng-template ngbTabContent>

                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuRoute.team" for="field_team">Team</label>
                        <select class="form-control" id="field_team" name="team" [(ngModel)]="jetkizuRoute.team" required>
                            <option [ngValue]="null"></option>
                            <option [ngValue]="teamOption.id === jetkizuRoute.team?.id ? jetkizuRoute.team : teamOption" *ngFor="let teamOption of teams; trackBy: trackTeamById">{{teamOption.name}}</option>
                        </select>
                    </div>
                </ng-template>
            </ngb-tab>-->
        </ngb-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" class="btn btn-info" [disabled]="isSaving || !optimizedAddresses.length" (click)="optimize()">Оптимизировать</button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || !jetkizuRouteContainerDto" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
