<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJetkizuRouteLabel">
            <span *ngIf="jetkizuRoute?.name; else elseBlock">{{jetkizuRoute?.name}}</span>
            <ng-template #elseBlock>{{'jetkizuApp.jetkizuRoute.home.startLabel' | translate}}</ng-template>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-md-12">
                <b jhiTranslate="jetkizuApp.jetkizuRoute.team">Team:</b>
                <span>{{jetkizuRoute.team?.name || 'Группа доставки'}}; </span>
                <b jhiTranslate="jetkizuApp.jetkizuRoute.jetkizuDate">jetkizuDate:</b>
                <span>{{jetkizuRoute.jetkizuDate?.day}}.{{jetkizuRoute.jetkizuDate?.month}}.{{jetkizuRoute.jetkizuDate?.year}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="table table-hover">
                    <tbody>
                    <tr *ngFor="let branch of jetkizuRoute.routeBranches | skOrderBy : ['order', 'id']">
                        <td>
                            <span>{{branch.order || ''}}</span>
                        </td>
                        <td>
                            <div>
                                <span *ngIf="branch.endTo?.fullAddress; else emptyAddress">{{branch.endTo.fullAddress}}</span>
                                <ng-template #emptyAddress>{{branch.endTo.street}}, {{branch.endTo.home}}</ng-template>
                            </div>
                        </td>
                        <td>
                            {{branch.jetkizuActivity?.planKm || ''}}: {{branch.jetkizuActivity?.planDuration || ''}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="generateRoute()" #editForm="ngForm" id="routeForm">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <ng-template #rty let-r="result" let-t="term">
                                    {{ r.metaDataProperty.GeocoderMetaData.text}}
                                </ng-template>
                                <label for="typeahead-http-yandex">Место отправки:</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" *ngIf="!searching"></i><i class="fa fa-spinner fa-pulse" *ngIf="searching"></i></span>
                                    <input id="typeahead-http-yandex" type="text" class="form-control" name="yandex"
                                           [class.is-invalid]="searchFailed" (selectItem)="selectedYandexItem($event)" [(ngModel)]="modelYandex" [ngbTypeahead]="searchYandex"
                                           [resultTemplate]="rty"
                                           [inputFormatter]="formatterYandex"
                                           placeholder="Yandex" />
                                </div>
                                <hr>
                                <div class="invalid-feedback">Не нашли? Укажите на карте.</div>
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let garage of garages | skOrderBy: 'id'">
                                        <button type="button" class="btn-outline-primary btn" (click)="selectStartGarage(garage)">{{garage.fullAddress}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!roundtrip">
                                <label for="typeahead-http-yandex-end">Место прибытия:</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2-end">
                                        <i class="fa fa-search" *ngIf="!searching"></i>
                                        <i class="fa fa-spinner fa-pulse" *ngIf="searching"></i>
                                    </span>
                                    <input id="typeahead-http-yandex-end" type="text" class="form-control" name="yandex"
                                           [class.is-invalid]="searchFailed" (selectItem)="selectedYandexItemEnd($event)" [(ngModel)]="endYandexLocation"
                                           [ngbTypeahead]="searchYandex"
                                           [resultTemplate]="rty"
                                           [inputFormatter]="formatterYandex"
                                           placeholder="Yandex" />
                                </div>
                                <hr>
                                <div class="invalid-feedback">Не нашли? Укажите на карте.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Туда-обратно:</label>
                                <div class="btn-group">
                                    <button type="button" class="btn-sm btn "
                                         [ngClass]="{'btn-primary': roundtrip, 'btn-default': !roundtrip}" (click)="clickRoundTrip(true)"><i class="fa fa-arrows-h"></i></button>
                                    <button type="button" class="btn-sm btn "
                                         [ngClass]="{'btn-primary': !roundtrip, 'btn-default': roundtrip}" (click)="clickRoundTrip(false)"><i class="fa fa-long-arrow-right"></i></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info"><i class="fa fa-arrows-h"></i> Построить маршрут</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="map" style="height: 500px;"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
