<div class="modal-header">
    <h4 class="modal-title" id="myJetkizuRouteLabel" jhiTranslate="jetkizuApp.jetkizu.backlog">Create or edit a Jetkizu Route</h4>:
    <span>{{routeBranches.length}}</span>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
</div>
<div class="modal-body">
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.jetkizu.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="routeBranches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th>
                    <input type="checkbox" name="selectAll" (change)="selectAll(allJetkizu)" [(ngModel)]="allJetkizu"/>
                </th>
                <th jhiSortBy="createDateTime"><span jhiTranslate="jetkizuApp.jetkizu.createDateTime">Create Date Time</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="jetkizuApp.jetkizu.name">Name</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="weight"><span jhiTranslate="jetkizuApp.jetkizu.weight">Weight</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="location.id"><span jhiTranslate="jetkizuApp.jetkizu.location">Location</span> <span class="fa fa-sort"></span></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let routeBranch of routeBranches ;trackBy: trackId">
                <td>
                    <input type="checkbox" name="selected" [(ngModel)]="routeBranch.selected" [checked]="routeBranch.selected"/>
                </td>
                <td>{{routeBranch.jetkizu.createDateTime | date:'medium'}}</td>
                <td>{{routeBranch.jetkizu.name}}</td>
                <td>{{routeBranch.jetkizu.weight}}</td>
                <td>
                    <div *ngIf="routeBranch.endTo">
                        {{routeBranch.endTo?.fullAddress}}
                    </div>
                </td>
                <!--<td>
                    <div *ngIf="jetkizu.customer">
                        <a [routerLink]="['../customer', jetkizu.customer?.id ]" >{{jetkizu.customer?.id}}</a>
                    </div>
                </td>-->
                <td>
                    <div ngbDropdown class="d-inline-block" *ngIf="jetkizuRoutes">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Маршрут</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="dropdown-item" *ngFor="let jetkizuRoute of jetkizuRoutes | startedRoutePipe"
                                    (click)="addToRoute(routeBranch, jetkizuRoute.id)">
                                {{ jetkizuRoute.name || (jetkizuRoute.jetkizuDate | date:'dd.MM.yy') }}
                            </button>
                        </div>
                    </div>
                </td>
                <!--<td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../../jetkizu', routeBranch.jetkizu.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <button type="button" class="btn btn-primary" (click)="save()">
        <span class="fa fa-plus"></span>&nbsp;<span jhiTranslate="entity.action.add">Добавить</span>
    </button>
</div>
