<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAttachmentFileLabel" jhiTranslate="jetkizuApp.attachmentFile.home.createOrEditLabel">Create or edit a Attachment File</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!attachmentFile.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="attachmentFile.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.uid" for="field_uid">Uid</label>
            <input type="text" class="form-control" name="uid" id="field_uid"
                [(ngModel)]="attachmentFile.uid"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.fileName" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                [(ngModel)]="attachmentFile.fileName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.contentType" for="field_contentType">Content Type</label>
            <input type="text" class="form-control" name="contentType" id="field_contentType"
                [(ngModel)]="attachmentFile.contentType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.fileSize" for="field_fileSize">File Size</label>
            <input type="number" class="form-control" name="fileSize" id="field_fileSize"
                [(ngModel)]="attachmentFile.fileSize"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.fileDesc" for="field_fileDesc">File Desc</label>
            <input type="text" class="form-control" name="fileDesc" id="field_fileDesc"
                [(ngModel)]="attachmentFile.fileDesc"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.fileHash" for="field_fileHash">File Hash</label>
            <input type="text" class="form-control" name="fileHash" id="field_fileHash"
                [(ngModel)]="attachmentFile.fileHash"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.containerClass" for="field_containerClass">Container Class</label>
            <input type="text" class="form-control" name="containerClass" id="field_containerClass"
                [(ngModel)]="attachmentFile.containerClass"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.containerId" for="field_containerId">Container Id</label>
            <input type="text" class="form-control" name="containerId" id="field_containerId"
                [(ngModel)]="attachmentFile.containerId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.documentCategory" for="field_documentCategory">Document Category</label>
            <input type="text" class="form-control" name="documentCategory" id="field_documentCategory"
                [(ngModel)]="attachmentFile.documentCategory"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.uploadDateTime" for="field_uploadDateTime">Upload Date Time</label>
            <div class="d-flex">
                <input id="field_uploadDateTime" type="datetime-local" class="form-control" name="uploadDateTime" [(ngModel)]="attachmentFile.uploadDateTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.file" for="field_file">File</label>
            <div>
                <div *ngIf="attachmentFile.file" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(attachmentFile.fileContentType, attachmentFile.file)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{attachmentFile.fileContentType}}, {{byteSize(attachmentFile.file)}}</span>
                    <button type="button" (click)="attachmentFile.file=null;attachmentFile.fileContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_file" (change)="setFileData($event, attachmentFile, 'file', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                [(ngModel)]="attachmentFile.file"  />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                [(ngModel)]="attachmentFile.fileContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.attachmentFile.imageFile" for="field_imageFile">Image File</label>
            <div>
                <img [src]="'data:' + attachmentFile.imageFileContentType + ';base64,' + attachmentFile.imageFile" style="max-height: 100px;" *ngIf="attachmentFile.imageFile" alt="attachmentFile image"/>
                <div *ngIf="attachmentFile.imageFile" class="form-text text-danger clearfix">
                    <span class="pull-left">{{attachmentFile.imageFileContentType}}, {{byteSize(attachmentFile.imageFile)}}</span>
                    <button type="button" (click)="clearInputImage('imageFile', 'imageFileContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_imageFile" (change)="setFileData($event, attachmentFile, 'imageFile', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="imageFile" id="field_imageFile"
                [(ngModel)]="attachmentFile.imageFile"  />
            <input type="hidden" class="form-control" name="imageFileContentType" id="field_imageFileContentType"
                [(ngModel)]="attachmentFile.imageFileContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
