<div>
    <h2>
        <span jhiTranslate="jetkizuApp.attachmentFile.home.title">Attachment Files</span>
        <button class="btn btn-primary float-right jh-create-entity create-attachment-file" [routerLink]="['/', { outlets: { popup: ['attachment-file-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.attachmentFile.home.createLabel">
            Create new Attachment File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.attachmentFile.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="attachmentFiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uid"><span jhiTranslate="jetkizuApp.attachmentFile.uid">Uid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fileName"><span jhiTranslate="jetkizuApp.attachmentFile.fileName">File Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contentType"><span jhiTranslate="jetkizuApp.attachmentFile.contentType">Content Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fileSize"><span jhiTranslate="jetkizuApp.attachmentFile.fileSize">File Size</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fileDesc"><span jhiTranslate="jetkizuApp.attachmentFile.fileDesc">File Desc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fileHash"><span jhiTranslate="jetkizuApp.attachmentFile.fileHash">File Hash</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="containerClass"><span jhiTranslate="jetkizuApp.attachmentFile.containerClass">Container Class</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="containerId"><span jhiTranslate="jetkizuApp.attachmentFile.containerId">Container Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="documentCategory"><span jhiTranslate="jetkizuApp.attachmentFile.documentCategory">Document Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uploadDateTime"><span jhiTranslate="jetkizuApp.attachmentFile.uploadDateTime">Upload Date Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="file"><span jhiTranslate="jetkizuApp.attachmentFile.file">File</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imageFile"><span jhiTranslate="jetkizuApp.attachmentFile.imageFile">Image File</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attachmentFile of attachmentFiles ;trackBy: trackId">
                <td><a [routerLink]="['../attachment-file', attachmentFile.id ]">{{attachmentFile.id}}</a></td>
                <td>{{attachmentFile.uid}}</td>
                <td>{{attachmentFile.fileName}}</td>
                <td>{{attachmentFile.contentType}}</td>
                <td>{{attachmentFile.fileSize}}</td>
                <td>{{attachmentFile.fileDesc}}</td>
                <td>{{attachmentFile.fileHash}}</td>
                <td>{{attachmentFile.containerClass}}</td>
                <td>{{attachmentFile.containerId}}</td>
                <td>{{attachmentFile.documentCategory}}</td>
                <td>{{attachmentFile.uploadDateTime | date:'medium'}}</td>
                <td>
                    <a *ngIf="attachmentFile.file" (click)="openFile(attachmentFile.fileContentType, attachmentFile.file)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="attachmentFile.file">{{attachmentFile.fileContentType}}, {{byteSize(attachmentFile.file)}}</span>
                </td>
                <td>
                    <a *ngIf="attachmentFile.imageFile" (click)="openFile(attachmentFile.imageFileContentType, attachmentFile.imageFile)">
                        <img [src]="'data:' + attachmentFile.imageFileContentType + ';base64,' + attachmentFile.imageFile" style="max-height: 30px;" alt="attachmentFile image"/>
                    </a>
                    <span *ngIf="attachmentFile.imageFile">{{attachmentFile.imageFileContentType}}, {{byteSize(attachmentFile.imageFile)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../attachment-file', attachmentFile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attachment-file/'+ attachmentFile.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attachment-file/'+ attachmentFile.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="attachmentFiles && attachmentFiles.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
