
<div *ngIf="attachmentFile">
    <h2><span jhiTranslate="jetkizuApp.attachmentFile.detail.title">Attachment File</span> {{attachmentFile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.uid">Uid</span></dt>
        <dd>
            <span>{{attachmentFile.uid}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.fileName">File Name</span></dt>
        <dd>
            <span>{{attachmentFile.fileName}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.contentType">Content Type</span></dt>
        <dd>
            <span>{{attachmentFile.contentType}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.fileSize">File Size</span></dt>
        <dd>
            <span>{{attachmentFile.fileSize}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.fileDesc">File Desc</span></dt>
        <dd>
            <span>{{attachmentFile.fileDesc}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.fileHash">File Hash</span></dt>
        <dd>
            <span>{{attachmentFile.fileHash}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.containerClass">Container Class</span></dt>
        <dd>
            <span>{{attachmentFile.containerClass}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.containerId">Container Id</span></dt>
        <dd>
            <span>{{attachmentFile.containerId}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.documentCategory">Document Category</span></dt>
        <dd>
            <span>{{attachmentFile.documentCategory}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.uploadDateTime">Upload Date Time</span></dt>
        <dd>
            <span>{{attachmentFile.uploadDateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.file">File</span></dt>
        <dd>
            <div *ngIf="attachmentFile.file">
                <a (click)="openFile(attachmentFile.fileContentType, attachmentFile.file)" jhiTranslate="entity.action.open">open</a>
                {{attachmentFile.fileContentType}}, {{byteSize(attachmentFile.file)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.attachmentFile.imageFile">Image File</span></dt>
        <dd>
            <div *ngIf="attachmentFile.imageFile">
                <a (click)="openFile(attachmentFile.imageFileContentType, attachmentFile.imageFile)">
                    <img [src]="'data:' + attachmentFile.imageFileContentType + ';base64,' + attachmentFile.imageFile" style="max-width: 100%;" alt="attachmentFile image"/>
                </a>
                {{attachmentFile.imageFileContentType}}, {{byteSize(attachmentFile.imageFile)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'attachment-file/'+ attachmentFile.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
