<div>
    <h2>
        <span jhiTranslate="jetkizuApp.jetkizuActivity.home.title">Jetkizu Activities</span>
        <button class="btn btn-primary float-right jh-create-entity create-jetkizu-activity" [routerLink]="['/', { outlets: { popup: ['jetkizu-activity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.jetkizuActivity.home.createLabel">
            Create new Jetkizu Activity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.jetkizuActivity.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jetkizuActivities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuActivity.planKm">Plan Km</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuActivity.factKm">Fact Km</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuActivity.planDuration">Plan Duration</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuActivity.factDuration">Fact Duration</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuActivity.createDateTime">Create Date Time</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuActivity.fromLat">From Lat</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuActivity.fromLon">From Lon</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuActivity.routeBranch">Route Branch</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuActivity.jetkizuPause">Jetkizu Pause</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jetkizuActivity of jetkizuActivities ;trackBy: trackId">
                <td><a [routerLink]="['../jetkizu-activity', jetkizuActivity.id ]">{{jetkizuActivity.id}}</a></td>
                <td>{{jetkizuActivity.planKm}}</td>
                <td>{{jetkizuActivity.factKm}}</td>
                <td>{{jetkizuActivity.planDuration}}</td>
                <td>{{jetkizuActivity.factDuration}}</td>
                <td>{{jetkizuActivity.createDateTime | date:'medium'}}</td>
                <td>{{jetkizuActivity.fromLat}}</td>
                <td>{{jetkizuActivity.fromLon}}</td>
                <td>
                    <div *ngIf="jetkizuActivity.routeBranch">
                        <a [routerLink]="['../route-branch', jetkizuActivity.routeBranch?.id ]" >{{jetkizuActivity.routeBranch?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jetkizuActivity.jetkizuPause">
                        <a [routerLink]="['../jetkizu-pause', jetkizuActivity.jetkizuPause?.id ]" >{{jetkizuActivity.jetkizuPause?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../jetkizu-activity', jetkizuActivity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jetkizu-activity/'+ jetkizuActivity.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jetkizu-activity/'+ jetkizuActivity.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
