<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJetkizuActivityLabel" jhiTranslate="jetkizuApp.jetkizuActivity.home.createOrEditLabel">Create or edit a Jetkizu Activity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jetkizuActivity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jetkizuActivity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuActivity.planKm" for="field_planKm">Plan Km</label>
            <input type="number" class="form-control" name="planKm" id="field_planKm"
                [(ngModel)]="jetkizuActivity.planKm"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuActivity.factKm" for="field_factKm">Fact Km</label>
            <input type="number" class="form-control" name="factKm" id="field_factKm"
                [(ngModel)]="jetkizuActivity.factKm"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuActivity.planDuration" for="field_planDuration">Plan Duration</label>
            <input type="number" class="form-control" name="planDuration" id="field_planDuration"
                [(ngModel)]="jetkizuActivity.planDuration"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuActivity.factDuration" for="field_factDuration">Fact Duration</label>
            <input type="number" class="form-control" name="factDuration" id="field_factDuration"
                [(ngModel)]="jetkizuActivity.factDuration"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuActivity.createDateTime" for="field_createDateTime">Create Date Time</label>
            <div class="d-flex">
                <input id="field_createDateTime" type="datetime-local" class="form-control" name="createDateTime" [(ngModel)]="jetkizuActivity.createDateTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuActivity.fromLat" for="field_fromLat">From Lat</label>
            <input type="text" class="form-control" name="fromLat" id="field_fromLat"
                [(ngModel)]="jetkizuActivity.fromLat"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuActivity.fromLon" for="field_fromLon">From Lon</label>
            <input type="text" class="form-control" name="fromLon" id="field_fromLon"
                [(ngModel)]="jetkizuActivity.fromLon"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuActivity.routeBranch" for="field_routeBranch">Route Branch</label>
            <select class="form-control" id="field_routeBranch" name="routeBranch" [(ngModel)]="jetkizuActivity.routeBranch"  required>
                <option *ngIf="!editForm.value.routeBranch" [ngValue]="null" selected></option>
                <option [ngValue]="routeBranchOption.id === jetkizuActivity.routeBranch?.id ? jetkizuActivity.routeBranch : routeBranchOption" *ngFor="let routeBranchOption of routebranches; trackBy: trackRouteBranchById">{{routeBranchOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.routeBranch?.dirty && editForm.controls.routeBranch?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.routeBranch?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuActivity.jetkizuPause" for="field_jetkizuPause">Jetkizu Pause</label>
            <select class="form-control" id="field_jetkizuPause" name="jetkizuPause" [(ngModel)]="jetkizuActivity.jetkizuPause" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jetkizuPauseOption.id === jetkizuActivity.jetkizuPause?.id ? jetkizuActivity.jetkizuPause : jetkizuPauseOption" *ngFor="let jetkizuPauseOption of jetkizupauses; trackBy: trackJetkizuPauseById">{{jetkizuPauseOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
