
<div *ngIf="jetkizuActivity">
    <h2><span jhiTranslate="jetkizuApp.jetkizuActivity.detail.title">Jetkizu Activity</span> {{jetkizuActivity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.jetkizuActivity.planKm">Plan Km</span></dt>
        <dd>
            <span>{{jetkizuActivity.planKm}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuActivity.factKm">Fact Km</span></dt>
        <dd>
            <span>{{jetkizuActivity.factKm}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuActivity.planDuration">Plan Duration</span></dt>
        <dd>
            <span>{{jetkizuActivity.planDuration}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuActivity.factDuration">Fact Duration</span></dt>
        <dd>
            <span>{{jetkizuActivity.factDuration}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuActivity.createDateTime">Create Date Time</span></dt>
        <dd>
            <span>{{jetkizuActivity.createDateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuActivity.fromLat">From Lat</span></dt>
        <dd>
            <span>{{jetkizuActivity.fromLat}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuActivity.fromLon">From Lon</span></dt>
        <dd>
            <span>{{jetkizuActivity.fromLon}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuActivity.routeBranch">Route Branch</span></dt>
        <dd>
            <div *ngIf="jetkizuActivity.routeBranch">
                <a [routerLink]="['/route-branch', jetkizuActivity.routeBranch?.id]">{{jetkizuActivity.routeBranch?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuActivity.jetkizuPause">Jetkizu Pause</span></dt>
        <dd>
            <div *ngIf="jetkizuActivity.jetkizuPause">
                <a [routerLink]="['/jetkizu-pause', jetkizuActivity.jetkizuPause?.id]">{{jetkizuActivity.jetkizuPause?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'jetkizu-activity/'+ jetkizuActivity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
