<div class="m-portlet m-portlet--brand">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa-group"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    <span jhiTranslate="jetkizuApp.team.home.title">Teams</span>
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <button class="btn btn-primary float-right jh-create-entity create-team" [routerLink]="['/', { outlets: { popup: ['team-new'] } }]">
                <span class="fa fa-plus"></span>
                <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.team.home.createLabel">
                Create new Team
                </span>
            </button>
        </div>
    </div>
    <div class="m-portlet__body">
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.team.home.search' | translate }}">
                        <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                            <span class="fa fa-search"></span>
                        </button>
                        <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="table-responsive" *ngIf="teams">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="jetkizuApp.team.name">Name</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="area.id"><span jhiTranslate="jetkizuApp.team.area">Area</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="vehicle.id"><span jhiTranslate="jetkizuApp.team.vehicle">Vehicle</span> <span class="fa fa-sort"></span></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let team of teams ;trackBy: trackId">
                    <td><a [routerLink]="['../team', team.id ]">{{team.id}}</a></td>
                    <td>{{team.name}}</td>
                    <td>
                        <div *ngIf="team.area">
                            <a [routerLink]="['../area', team.area?.id ]" >{{team.area?.id}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="team.vehicle">
                            {{team.vehicle?.model}} ({{team.vehicle?.govNumber}})
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../team', team.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'team/'+ team.id + '/edit'} }]"
                                    replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'team/'+ team.id + '/delete'} }]"
                                    replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="teams && teams.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
