
<div *ngIf="team">
    <h2><span jhiTranslate="jetkizuApp.team.detail.title">Team</span> {{team.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.team.name">Name</span></dt>
        <dd>
            <span>{{team.name}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.team.area">Area</span></dt>
        <dd>
            <div *ngIf="team.area">
                <a [routerLink]="['/area', team.area?.id]">{{team.area?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'team/'+ team.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
