<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTeamLabel" jhiTranslate="jetkizuApp.team.home.createOrEditLabel">Create or edit a Team</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!team.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="team.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.team.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="team.name" readonly />
            <small class="label-info">Наименование генерируется системой</small>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.team.lead" for="field_lead">Lead</label>
            <select class="form-control" id="field_lead" name="lead" [(ngModel)]="team.lead" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="leadOption.id === team.lead?.id ? team.lead : leadOption" *ngFor="let leadOption of leads; trackBy: trackLeadById">{{leadOption.firstName}} {{leadOption.lastName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.team.area" for="field_area">Area</label>
            <select class="form-control" id="field_area" name="area" [(ngModel)]="team.area" >
                <option [ngValue]="null"></option>
                <option [ngValue]="areaOption.id === team.area?.id ? team.area : areaOption" *ngFor="let areaOption of areas; trackBy: trackAreaById">{{areaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.team.vehicle" for="field_vehicle">Vehicle</label>
            <select class="form-control" id="field_vehicle" name="vehicle" [(ngModel)]="team.vehicle" >
                <option [ngValue]="null"></option>
                <option [ngValue]="vehicleOption.id === team.vehicle?.id ? team.vehicle : vehicleOption" *ngFor="let vehicleOption of vehicles; trackBy: trackVehicleById">{{vehicleOption.model}} ({{vehicleOption.govNumber}})</option>
            </select>
        </div>

        <fieldset>
            <legend>
                <label>Участники группы:</label>
            </legend>
            <jhi-alert></jhi-alert>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="45%"><span jhiTranslate="jetkizuApp.teamMember.fio" for="field_fio">Fio</span></th>
                    <th width="23%"><span jhiTranslate="jetkizuApp.teamMember.cellPhone" for="field_cellPhone">Cell Phone</span></th>
                    <th width="22%"><span jhiTranslate="jetkizuApp.teamMember.identifier" for="field_identifier">Identifier</span></th>
                    <th width="10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" name="fio" id="field_fio"
                               [(ngModel)]="teamMember.fio" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="cellPhone" id="field_cellPhone"
                               [(ngModel)]="teamMember.cellPhone"
                               [textMask]="{mask: cellPhoneMask}"
                               placeholder="+7(___) ___-____"
                               pattern="(^\+7\(\d{3}\)\s\d{3}-\d{4})" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="identifier" id="field_identifier"
                               [(ngModel)]="teamMember.identifier" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info" title="Сохранить" (click)="addTeamMember(teamMember)"><i class="fa fa-plus-circle"></i></button>
                    </td>
                </tr>
                <tr *ngFor="let member of teamMembers">
                    <td>{{member.fio}}</td>
                    <td>{{member.cellPhone}}</td>
                    <td>{{member.identifier}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary" title="Редактировать" (click)="editTeamMember(member)"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-sm btn-danger" title="Удалить" (click)="removeTeamMember(member)" *ngIf="!member.isGonnaDelete"><i class="fa fa-trash-o"></i></button>
                            <button type="button" class="btn btn-sm btn-warning" title="Уверены?" (click)="setTeamMemberFlagDeleted(member)" *ngIf="member.isGonnaDelete"><i class="fa fa-check"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
