<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCsvFieldLabel" jhiTranslate="jetkizuApp.csvField.home.createOrEditLabel">Create or edit a Csv Field</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!csvField.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="csvField.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.csvField.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="csvField.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.csvField.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="csvField.code"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.csvField.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="csvField.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.csvField.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="csvField.type" id="field_type" >
                <option value="ORDER">{{'jetkizuApp.CsvFieldType.ORDER' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
