
<div *ngIf="csvField">
    <h2><span jhiTranslate="jetkizuApp.csvField.detail.title">Csv Field</span> {{csvField.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.csvField.name">Name</span></dt>
        <dd>
            <span>{{csvField.name}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.csvField.code">Code</span></dt>
        <dd>
            <span>{{csvField.code}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.csvField.description">Description</span></dt>
        <dd>
            <span>{{csvField.description}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.csvField.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'jetkizuApp.CsvFieldType.' + csvField.type}}">{{csvField.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'csv-field/'+ csvField.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
