
<div *ngIf="jetkizuStatusHistory">
    <h2><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.detail.title">Jetkizu Status History</span> {{jetkizuStatusHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.createDateTime">Create Date Time</span></dt>
        <dd>
            <span>{{jetkizuStatusHistory.createDateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{jetkizuStatusHistory.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'jetkizuApp.JetkizuStatus.' + jetkizuStatusHistory.status}}">{{jetkizuStatusHistory.status}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.failType">Fail Type</span></dt>
        <dd>
            <span jhiTranslate="{{'jetkizuApp.FailType.' + jetkizuStatusHistory.failType}}">{{jetkizuStatusHistory.failType}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.jetkizu">Jetkizu</span></dt>
        <dd>
            <div *ngIf="jetkizuStatusHistory.jetkizu">
                <a [routerLink]="['/jetkizu', jetkizuStatusHistory.jetkizu?.id]">{{jetkizuStatusHistory.jetkizu?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'jetkizu-status-history/'+ jetkizuStatusHistory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
