<div>
    <h2>
        <span jhiTranslate="jetkizuApp.jetkizuStatusHistory.home.title">Jetkizu Status Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-jetkizu-status-history" [routerLink]="['/', { outlets: { popup: ['jetkizu-status-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.jetkizuStatusHistory.home.createLabel">
            Create new Jetkizu Status History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.jetkizuStatusHistory.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jetkizuStatusHistories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.createDateTime">Create Date Time</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.flagDeleted">Flag Deleted</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.status">Status</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.failType">Fail Type</span></th>
            <th><span jhiTranslate="jetkizuApp.jetkizuStatusHistory.jetkizu">Jetkizu</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jetkizuStatusHistory of jetkizuStatusHistories ;trackBy: trackId">
                <td><a [routerLink]="['../jetkizu-status-history', jetkizuStatusHistory.id ]">{{jetkizuStatusHistory.id}}</a></td>
                <td>{{jetkizuStatusHistory.createDateTime | date:'medium'}}</td>
                <td>{{jetkizuStatusHistory.flagDeleted}}</td>
                <td jhiTranslate="{{'jetkizuApp.JetkizuStatus.' + jetkizuStatusHistory.status}}">{{jetkizuStatusHistory.status}}</td>
                <td jhiTranslate="{{'jetkizuApp.FailType.' + jetkizuStatusHistory.failType}}">{{jetkizuStatusHistory.failType}}</td>
                <td>
                    <div *ngIf="jetkizuStatusHistory.jetkizu">
                        <a [routerLink]="['../jetkizu', jetkizuStatusHistory.jetkizu?.id ]" >{{jetkizuStatusHistory.jetkizu?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../jetkizu-status-history', jetkizuStatusHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jetkizu-status-history/'+ jetkizuStatusHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jetkizu-status-history/'+ jetkizuStatusHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
