<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJetkizuStatusHistoryLabel" jhiTranslate="jetkizuApp.jetkizuStatusHistory.home.createOrEditLabel">Create or edit a Jetkizu Status History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jetkizuStatusHistory.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jetkizuStatusHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuStatusHistory.createDateTime" for="field_createDateTime">Create Date Time</label>
            <div class="d-flex">
                <input id="field_createDateTime" type="datetime-local" class="form-control" name="createDateTime" [(ngModel)]="jetkizuStatusHistory.createDateTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuStatusHistory.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
            <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                [(ngModel)]="jetkizuStatusHistory.flagDeleted"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuStatusHistory.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="jetkizuStatusHistory.status" id="field_status"  required>
                <option value="BACKLOG">{{'jetkizuApp.JetkizuStatus.BACKLOG' | translate}}</option>
                <option value="DRAFT">{{'jetkizuApp.JetkizuStatus.DRAFT' | translate}}</option>
                <option value="IN_PROCESS">{{'jetkizuApp.JetkizuStatus.IN_PROCESS' | translate}}</option>
                <option value="DELIVERED">{{'jetkizuApp.JetkizuStatus.DELIVERED' | translate}}</option>
                <option value="FAILED">{{'jetkizuApp.JetkizuStatus.FAILED' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuStatusHistory.failType" for="field_failType">Fail Type</label>
            <select class="form-control" name="failType" [(ngModel)]="jetkizuStatusHistory.failType" id="field_failType" >
                <option value="ADDRESS_NOT_FOUND">{{'jetkizuApp.FailType.ADDRESS_NOT_FOUND' | translate}}</option>
                <option value="PHONE_NOT_ALLOWED">{{'jetkizuApp.FailType.PHONE_NOT_ALLOWED' | translate}}</option>
                <option value="NOT_OCCUPIED">{{'jetkizuApp.FailType.NOT_OCCUPIED' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuStatusHistory.jetkizu" for="field_jetkizu">Jetkizu</label>
            <select class="form-control" id="field_jetkizu" name="jetkizu" [(ngModel)]="jetkizuStatusHistory.jetkizu" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jetkizuOption.id === jetkizuStatusHistory.jetkizu?.id ? jetkizuStatusHistory.jetkizu : jetkizuOption" *ngFor="let jetkizuOption of jetkizus; trackBy: trackJetkizuById">{{jetkizuOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
