<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJetkizuPauseLabel" jhiTranslate="jetkizuApp.jetkizuPause.home.createOrEditLabel">Create or edit a Jetkizu Pause</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jetkizuPause.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jetkizuPause.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuPause.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                [(ngModel)]="jetkizuPause.duration"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuPause.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="jetkizuPause.type" id="field_type"  required>
                <option value="DELIVER">{{'jetkizuApp.JetkizuPauseType.DELIVER' | translate}}</option>
                <option value="TECHNICAL_PROBLEM">{{'jetkizuApp.JetkizuPauseType.TECHNICAL_PROBLEM' | translate}}</option>
                <option value="REST">{{'jetkizuApp.JetkizuPauseType.REST' | translate}}</option>
                <option value="OTHER">{{'jetkizuApp.JetkizuPauseType.OTHER' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuPause.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="jetkizuPause.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuPause.createDateTime" for="field_createDateTime">Create Date Time</label>
            <div class="d-flex">
                <input id="field_createDateTime" type="datetime-local" class="form-control" name="createDateTime" [(ngModel)]="jetkizuPause.createDateTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuPause.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
            <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                [(ngModel)]="jetkizuPause.flagDeleted"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizuPause.jetkizu" for="field_jetkizu">Jetkizu</label>
            <select class="form-control" id="field_jetkizu" name="jetkizu" [(ngModel)]="jetkizuPause.jetkizu" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jetkizuOption.id === jetkizuPause.jetkizu?.id ? jetkizuPause.jetkizu : jetkizuOption" *ngFor="let jetkizuOption of jetkizus; trackBy: trackJetkizuById">{{jetkizuOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
