<div>
    <h2>
        <span jhiTranslate="jetkizuApp.jetkizuPause.home.title">Jetkizu Pauses</span>
        <button class="btn btn-primary float-right jh-create-entity create-jetkizu-pause" [routerLink]="['/', { outlets: { popup: ['jetkizu-pause-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.jetkizuPause.home.createLabel">
            Create new Jetkizu Pause
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.jetkizuPause.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jetkizuPauses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="duration"><span jhiTranslate="jetkizuApp.jetkizuPause.duration">Duration</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="jetkizuApp.jetkizuPause.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="jetkizuApp.jetkizuPause.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDateTime"><span jhiTranslate="jetkizuApp.jetkizuPause.createDateTime">Create Date Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagDeleted"><span jhiTranslate="jetkizuApp.jetkizuPause.flagDeleted">Flag Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jetkizu.id"><span jhiTranslate="jetkizuApp.jetkizuPause.jetkizu">Jetkizu</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jetkizuPause of jetkizuPauses ;trackBy: trackId">
                <td><a [routerLink]="['../jetkizu-pause', jetkizuPause.id ]">{{jetkizuPause.id}}</a></td>
                <td>{{jetkizuPause.duration}}</td>
                <td jhiTranslate="{{'jetkizuApp.JetkizuPauseType.' + jetkizuPause.type}}">{{jetkizuPause.type}}</td>
                <td>{{jetkizuPause.description}}</td>
                <td>{{jetkizuPause.createDateTime | date:'medium'}}</td>
                <td>{{jetkizuPause.flagDeleted}}</td>
                <td>
                    <div *ngIf="jetkizuPause.jetkizu">
                        <a [routerLink]="['../jetkizu', jetkizuPause.jetkizu?.id ]" >{{jetkizuPause.jetkizu?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../jetkizu-pause', jetkizuPause.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jetkizu-pause/'+ jetkizuPause.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jetkizu-pause/'+ jetkizuPause.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="jetkizuPauses && jetkizuPauses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
