
<div *ngIf="jetkizuPause">
    <h2><span jhiTranslate="jetkizuApp.jetkizuPause.detail.title">Jetkizu Pause</span> {{jetkizuPause.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.jetkizuPause.duration">Duration</span></dt>
        <dd>
            <span>{{jetkizuPause.duration}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuPause.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'jetkizuApp.JetkizuPauseType.' + jetkizuPause.type}}">{{jetkizuPause.type}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuPause.description">Description</span></dt>
        <dd>
            <span>{{jetkizuPause.description}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuPause.createDateTime">Create Date Time</span></dt>
        <dd>
            <span>{{jetkizuPause.createDateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuPause.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{jetkizuPause.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.jetkizuPause.jetkizu">Jetkizu</span></dt>
        <dd>
            <div *ngIf="jetkizuPause.jetkizu">
                <a [routerLink]="['/jetkizu', jetkizuPause.jetkizu?.id]">{{jetkizuPause.jetkizu?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'jetkizu-pause/'+ jetkizuPause.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
