
<div *ngIf="areaNode">
    <h2><span jhiTranslate="jetkizuApp.areaNode.detail.title">Area Node</span> {{areaNode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.areaNode.name">name</span></dt>
        <dd>
            <span>{{areaNode.name}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.areaNode.area">Area</span></dt>
        <dd>
            <div *ngIf="areaNode.area">
                <a [routerLink]="['/area', areaNode.area?.id]">{{areaNode.area?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'area-node/'+ areaNode.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
