<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAreaNodeLabel" jhiTranslate="jetkizuApp.areaNode.home.createOrEditLabel">Create or edit a Area Node</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!areaNode.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="areaNode.id" readonly />
        </div>

        <div id="map" style="height: 500px"></div>
        <div class='calculation-box'>
            <p>Draw a polygon using the draw tools.</p>
            <div id='calculated-area'></div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.areaNode.name" for="field_name">name</label>
            <input type="text" class="form-control" name="lat" id="field_name"
                [(ngModel)]="areaNode.name"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.areaNode.team" for="field_team">Team</label>
            <select class="form-control" id="field_team" name="team" [(ngModel)]="areaNode.team" >
                <option [ngValue]="null"></option>
                <option [ngValue]="teamOption.id === areaNode.team?.id ? areaNode.team : teamOption" *ngFor="let teamOption of teams; trackBy: trackAreaById">{{teamOption.name}}: {{teamOption.vehicle?.name || 'Машины нет'}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
