<div>
    <h2>
        <span jhiTranslate="jetkizuApp.routeBranch.home.title">Route Branches</span>
        <button class="btn btn-primary float-right jh-create-entity create-route-branch" [routerLink]="['/', { outlets: { popup: ['route-branch-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.routeBranch.home.createLabel">
            Create new Route Branch
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.routeBranch.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="routeBranches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="order"><span jhiTranslate="jetkizuApp.routeBranch.order">Order</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jetkizu.id"><span jhiTranslate="jetkizuApp.routeBranch.jetkizu">Jetkizu</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jetkizuRoute.id"><span jhiTranslate="jetkizuApp.routeBranch.jetkizuRoute">Jetkizu Route</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="routeBranchStatusHistory.id"><span jhiTranslate="jetkizuApp.routeBranch.routeBranchStatusHistory">Route Branch Status History</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jetkizuActivity.id"><span jhiTranslate="jetkizuApp.routeBranch.jetkizuActivity">Jetkizu Activity</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let routeBranch of routeBranches ;trackBy: trackId">
                <td><a [routerLink]="['../route-branch', routeBranch.id ]">{{routeBranch.id}}</a></td>
                <td>{{routeBranch.order}}</td>
                <td>
                    <div *ngIf="routeBranch.jetkizu">
                        <a [routerLink]="['../jetkizu', routeBranch.jetkizu?.id ]" >{{routeBranch.jetkizu?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="routeBranch.jetkizuRoute">
                        <a [routerLink]="['../jetkizu-route', routeBranch.jetkizuRoute?.id ]" >{{routeBranch.jetkizuRoute?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="routeBranch.routeBranchStatusHistory">
                        <a [routerLink]="['../route-branch-status-history', routeBranch.routeBranchStatusHistory?.id ]" >{{routeBranch.routeBranchStatusHistory?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="routeBranch.jetkizuActivity">
                        <a [routerLink]="['../jetkizu-activity', routeBranch.jetkizuActivity?.id ]" >{{routeBranch.jetkizuActivity?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../route-branch', routeBranch.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'route-branch/'+ routeBranch.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'route-branch/'+ routeBranch.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
