
<div *ngIf="routeBranch">
    <h2><span jhiTranslate="jetkizuApp.routeBranch.detail.title">Route Branch</span> {{routeBranch.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.routeBranch.order">Order</span></dt>
        <dd>
            <span>{{routeBranch.order}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeBranch.jetkizu">Jetkizu</span></dt>
        <dd>
            <div *ngIf="routeBranch.jetkizu">
                <a [routerLink]="['/jetkizu', routeBranch.jetkizu?.id]">{{routeBranch.jetkizu?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeBranch.jetkizuRoute">Jetkizu Route</span></dt>
        <dd>
            <div *ngIf="routeBranch.jetkizuRoute">
                <a [routerLink]="['/jetkizu-route', routeBranch.jetkizuRoute?.id]">{{routeBranch.jetkizuRoute?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeBranch.routeBranchStatusHistory">Route Branch Status History</span></dt>
        <dd>
            <div *ngIf="routeBranch.routeBranchStatusHistory">
                <a [routerLink]="['/route-branch-status-history', routeBranch.routeBranchStatusHistory?.id]">{{routeBranch.routeBranchStatusHistory?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeBranch.jetkizuActivity">Jetkizu Activity</span></dt>
        <dd>
            <div *ngIf="routeBranch.jetkizuActivity">
                <a [routerLink]="['/jetkizu-activity', routeBranch.jetkizuActivity?.id]">{{routeBranch.jetkizuActivity?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'route-branch/'+ routeBranch.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
