<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRouteBranchLabel" jhiTranslate="jetkizuApp.routeBranch.home.createOrEditLabel">Create or edit a Route Branch</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!routeBranch.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="routeBranch.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeBranch.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                [(ngModel)]="routeBranch.order"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeBranch.jetkizu" for="field_jetkizu">Jetkizu</label>
            <select class="form-control" id="field_jetkizu" name="jetkizu" [(ngModel)]="routeBranch.jetkizu">
                <option [ngValue]="null"></option>
                <option [ngValue]="jetkizuOption.id === routeBranch.jetkizu?.id ? routeBranch.jetkizu : jetkizuOption" *ngFor="let jetkizuOption of jetkizus; trackBy: trackJetkizuById">{{jetkizuOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeBranch.jetkizuRoute" for="field_jetkizuRoute">Jetkizu Route</label>
            <select class="form-control" id="field_jetkizuRoute" name="jetkizuRoute" [(ngModel)]="routeBranch.jetkizuRoute" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jetkizuRouteOption.id === routeBranch.jetkizuRoute?.id ? routeBranch.jetkizuRoute : jetkizuRouteOption" *ngFor="let jetkizuRouteOption of jetkizuroutes; trackBy: trackJetkizuRouteById">{{jetkizuRouteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeBranch.routeBranchStatusHistory" for="field_routeBranchStatusHistory">Route Branch Status History</label>
            <select class="form-control" id="field_routeBranchStatusHistory" name="routeBranchStatusHistory" [(ngModel)]="routeBranch.routeBranchStatusHistory" >
                <option [ngValue]="null"></option>
                <option [ngValue]="routeBranchStatusHistoryOption.id === routeBranch.routeBranchStatusHistory?.id ? routeBranch.routeBranchStatusHistory : routeBranchStatusHistoryOption" *ngFor="let routeBranchStatusHistoryOption of routebranchstatushistories; trackBy: trackRouteBranchStatusHistoryById">{{routeBranchStatusHistoryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeBranch.jetkizuActivity" for="field_jetkizuActivity">Jetkizu Activity</label>
            <select class="form-control" id="field_jetkizuActivity" name="jetkizuActivity" [(ngModel)]="routeBranch.jetkizuActivity" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jetkizuActivityOption.id === routeBranch.jetkizuActivity?.id ? routeBranch.jetkizuActivity : jetkizuActivityOption" *ngFor="let jetkizuActivityOption of jetkizuactivities; trackBy: trackJetkizuActivityById">{{jetkizuActivityOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
