
<div *ngIf="routeOptimization">
    <h2><span jhiTranslate="jetkizuApp.routeOptimization.detail.title">Route Optimization</span> {{routeOptimization.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.routeOptimization.maxVehicleDistance">Max Vehicle Distance</span></dt>
        <dd>
            <span>{{routeOptimization.maxVehicleDistance}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeOptimization.maxRouteDuration">Max Route Duration</span></dt>
        <dd>
            <span>{{routeOptimization.maxRouteDuration}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeOptimization.maxWeight">Max Weight</span></dt>
        <dd>
            <span>{{routeOptimization.maxWeight}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeOptimization.maxRouteRevenue">Max Route Revenue</span></dt>
        <dd>
            <span>{{routeOptimization.maxRouteRevenue}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeOptimization.maxRouteStops">Max Route Stops</span></dt>
        <dd>
            <span>{{routeOptimization.maxRouteStops}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.routeOptimization.jetkizuRoute">Jetkizu Route</span></dt>
        <dd>
            <div *ngIf="routeOptimization.jetkizuRoute">
                <a [routerLink]="['/jetkizu-route', routeOptimization.jetkizuRoute?.id]">{{routeOptimization.jetkizuRoute?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'route-optimization/'+ routeOptimization.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
