<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRouteOptimizationLabel" jhiTranslate="jetkizuApp.routeOptimization.home.createOrEditLabel">Create or edit a Route Optimization</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!routeOptimization.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="routeOptimization.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeOptimization.maxVehicleDistance" for="field_maxVehicleDistance">Max Vehicle Distance</label>
            <input type="number" class="form-control" name="maxVehicleDistance" id="field_maxVehicleDistance"
                [(ngModel)]="routeOptimization.maxVehicleDistance"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeOptimization.maxRouteDuration" for="field_maxRouteDuration">Max Route Duration</label>
            <input type="number" class="form-control" name="maxRouteDuration" id="field_maxRouteDuration"
                [(ngModel)]="routeOptimization.maxRouteDuration"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeOptimization.maxWeight" for="field_maxWeight">Max Weight</label>
            <input type="number" class="form-control" name="maxWeight" id="field_maxWeight"
                [(ngModel)]="routeOptimization.maxWeight"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeOptimization.maxRouteRevenue" for="field_maxRouteRevenue">Max Route Revenue</label>
            <input type="number" class="form-control" name="maxRouteRevenue" id="field_maxRouteRevenue"
                [(ngModel)]="routeOptimization.maxRouteRevenue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeOptimization.maxRouteStops" for="field_maxRouteStops">Max Route Stops</label>
            <input type="number" class="form-control" name="maxRouteStops" id="field_maxRouteStops"
                [(ngModel)]="routeOptimization.maxRouteStops"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.routeOptimization.jetkizuRoute" for="field_jetkizuRoute">Jetkizu Route</label>
            <select class="form-control" id="field_jetkizuRoute" name="jetkizuRoute" [(ngModel)]="routeOptimization.jetkizuRoute" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jetkizuRouteOption.id === routeOptimization.jetkizuRoute?.id ? routeOptimization.jetkizuRoute : jetkizuRouteOption" *ngFor="let jetkizuRouteOption of jetkizuroutes; trackBy: trackJetkizuRouteById">{{jetkizuRouteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
