<div>
    <h2>
        <span jhiTranslate="jetkizuApp.routeOptimization.home.title">Route Optimizations</span>
        <button class="btn btn-primary float-right jh-create-entity create-route-optimization" [routerLink]="['/', { outlets: { popup: ['route-optimization-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.routeOptimization.home.createLabel">
            Create new Route Optimization
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.routeOptimization.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="routeOptimizations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jetkizuApp.routeOptimization.maxVehicleDistance">Max Vehicle Distance</span></th>
            <th><span jhiTranslate="jetkizuApp.routeOptimization.maxRouteDuration">Max Route Duration</span></th>
            <th><span jhiTranslate="jetkizuApp.routeOptimization.maxWeight">Max Weight</span></th>
            <th><span jhiTranslate="jetkizuApp.routeOptimization.maxRouteRevenue">Max Route Revenue</span></th>
            <th><span jhiTranslate="jetkizuApp.routeOptimization.maxRouteStops">Max Route Stops</span></th>
            <th><span jhiTranslate="jetkizuApp.routeOptimization.jetkizuRoute">Jetkizu Route</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let routeOptimization of routeOptimizations ;trackBy: trackId">
                <td><a [routerLink]="['../route-optimization', routeOptimization.id ]">{{routeOptimization.id}}</a></td>
                <td>{{routeOptimization.maxVehicleDistance}}</td>
                <td>{{routeOptimization.maxRouteDuration}}</td>
                <td>{{routeOptimization.maxWeight}}</td>
                <td>{{routeOptimization.maxRouteRevenue}}</td>
                <td>{{routeOptimization.maxRouteStops}}</td>
                <td>
                    <div *ngIf="routeOptimization.jetkizuRoute">
                        <a [routerLink]="['../jetkizu-route', routeOptimization.jetkizuRoute?.id ]" >{{routeOptimization.jetkizuRoute?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../route-optimization', routeOptimization.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'route-optimization/'+ routeOptimization.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'route-optimization/'+ routeOptimization.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
