<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJetkizuLabel" jhiTranslate="jetkizuApp.jetkizu.home.createOrEditLabel">Create or edit a Jetkizu</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <ng-template #osmTemplate let-r="result" let-t="term">
                {{ r.display_name}}
            </ng-template>
            <label for="location-osm" class="form-control-label"><span>Место назначения</span>:</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" *ngIf="!searching"></i><i class="fa fa-spinner fa-pulse" *ngIf="searching"></i></span>
                <input id="location-osm" type="text" class="form-control" name="osm"
                       [class.is-invalid]="searchFailed" (selectItem)="selectedOsmItem($event)" [(ngModel)]="modelOsm" [ngbTypeahead]="searchOsm"
                       [resultTemplate]="osmTemplate"
                       [inputFormatter]="formatterOsm"
                       placeholder="Osm" />
            </div>
        </div>

        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle>Локация</ng-template>
                <ng-template ngbTabContent>
                    <div class="form-group row">
                        <label class="form-control-label col-md-3" for="field_flat">
                            <span jhiTranslate="jetkizuApp.location.flat">Flat</span>:
                        </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="flat" id="field_flat"
                                   [(ngModel)]="location.flat"  />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label col-md-3" for="field_name">
                            <span jhiTranslate="jetkizuApp.jetkizu.name">Name</span>:
                        </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="name" id="field_name"
                                   [(ngModel)]="jetkizu.name" required />
                            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label col-md-3" for="field_description">
                            <span jhiTranslate="jetkizuApp.jetkizu.description" >Description</span>:
                        </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="description" id="field_description"
                                   [(ngModel)]="jetkizu.description"  />
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Участники</ng-template>
                <ng-template ngbTabContent>
                    <div class="form-group row">
                        <label class="form-control-label col-md-3" for="field_senderFio">
                            <span jhiTranslate="jetkizuApp.customer.senderFio">Sender Fio</span>:
                        </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="senderFio" id="field_senderFio"
                                   [(ngModel)]="customer.senderFio" required />
                            <div [hidden]="!(editForm.controls.senderFio?.dirty && editForm.controls.senderFio?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.senderFio?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label col-md-3" for="field_receiverFio">
                            <span jhiTranslate="jetkizuApp.customer.receiverFio">Receiver Fio</span>:
                        </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="receiverFio" id="field_receiverFio"
                                   [(ngModel)]="customer.receiverFio" required />
                            <div [hidden]="!(editForm.controls.receiverFio?.dirty && editForm.controls.receiverFio?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.receiverFio?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="field_cellPhone">
                                    <span jhiTranslate="jetkizuApp.customer.cellPhone">Cell Phone</span>:
                                </label>
                                <input type="text" class="form-control" name="cellPhone" id="field_cellPhone"
                                       [textMask]="{mask: cellPhoneMask}"
                                       [(ngModel)]="customer.cellPhone"
                                       placeholder="+7(___) ___-____"
                                       required pattern="(^\+7\(\d{3}\)\s\d{3}-\d{4})"/>
                                <div [hidden]="!(editForm.controls.cellPhone?.dirty && editForm.controls.cellPhone?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.cellPhone?.errors?.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.cellPhone?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: '+7(xxx) xxx-xxxx' }">
                                        This field should follow pattern for "CellPhone".
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="field_homePhone">
                                    <span jhiTranslate="jetkizuApp.customer.homePhone">Home Phone</span>:
                                </label>
                                <input type="text" class="form-control" name="homePhone" id="field_homePhone"
                                       [textMask]="{mask: homePhoneMask}"
                                       [(ngModel)]="customer.homePhone"
                                       placeholder="+7(727) _______"
                                       pattern="(^\+7\(727\)\s\d{7})" />
                                <div [hidden]="!(editForm.controls.homePhone?.dirty && editForm.controls.homePhone?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.homePhone?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: '+7(727) xxxxxxx' }">
                                        This field should follow pattern for "CellPhone".
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Характеристика</ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label" for="field_weight">
                                    <span jhiTranslate="jetkizuApp.jetkizu.weight">Weight</span>:
                                </label>
                                <input type="number" class="form-control" name="weight" id="field_weight"
                                       [(ngModel)]="businessDetails.weight" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label" for="field_cube">Куб:</label>
                                <input type="number" class="form-control" name="cube" id="field_cube"
                                       [(ngModel)]="businessDetails.cube" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label" for="field_amount">Количество:</label>
                                <input type="number" class="form-control" name="amount" id="field_amount"
                                       [(ngModel)]="businessDetails.amount" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label" for="field_shpi">ШПИ:</label>
                                <input type="number" class="form-control" name="weight" id="field_shpi"
                                       [(ngModel)]="businessDetails.shpi" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label" for="field_revenue">Прибыль:</label>
                                <input type="number" class="form-control" name="revenue" id="field_revenue"
                                       [(ngModel)]="businessDetails.revenue" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label" for="field_priority">Приоритет:</label>
                                <input type="number" class="form-control" name="priority" id="field_priority"
                                       [(ngModel)]="businessDetails.priority" />
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Графика</ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="field_deliveryDate">Дата доставки:</label>
                                <input type="number" class="form-control" name="deliveryDate" id="field_deliveryDate"
                                       [(ngModel)]="jetkizuSchedule.deliveryDate" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="field_serviceTime">Время обслуживания (HH:MM:SS):</label>
                                <input type="number" class="form-control" name="serviceTime" id="field_serviceTime"
                                       [(ngModel)]="jetkizuSchedule.serviceTime" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="field_timeWindowStart">Время начала:</label>
                                <input type="number" class="form-control" name="timeWindowStart" id="field_timeWindowStart"
                                       [(ngModel)]="jetkizuSchedule.timeWindowStart" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="field_timeWindowEnd">Время окончания:</label>
                                <input type="number" class="form-control" name="timeWindowEnd" id="field_timeWindowEnd"
                                       [(ngModel)]="jetkizuSchedule.timeWindowEnd" />
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>

        <!--<fieldset>
            <legend>
                <label class="form-control-label" jhiTranslate="jetkizuApp.jetkizu.location">Location</label>
            </legend>
            <jhi-alert></jhi-alert>
            <div class="form-group">
                <ng-template #rtk let-r="result" let-t="term">
                    {{ r.addressRus}}
                </ng-template>
                <label for="typeahead-http-kazpost">Поиск из базы казпочты:</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" *ngIf="!searching"></i><i class="fa fa-spinner fa-pulse" *ngIf="searching"></i></span>
                    <input id="typeahead-http-kazpost" type="text" class="form-control" name="kazpost"
                           [class.is-invalid]="searchFailed" [(ngModel)]="modelKazpost" [ngbTypeahead]="searchKazpost"
                           [resultTemplate]="rtk"
                           [inputFormatter]="formatterKazpost"
                           (selectItem)="selectedKazpostItem($event)"
                           placeholder="Kazpost"
                           [disabled]="isKazpostNotFound" />
                </div>
                <span *ngIf="searching">поиск...</span>
                <small class="form-text">
                    Заполните сами если не найдено из базы. <a class="text-info" (click)="kazpostNotFound()">Заполнить</a>
                </small>
                <hr>
            </div>
            <div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jetkizuApp.location.street" for="field_street">Street</label>
                    <input type="text" class="form-control" name="street" id="field_street"
                           [(ngModel)]="location.street" [disabled]="!isKazpostNotFound" required />
                    <div [hidden]="!(editForm.controls.street?.dirty && editForm.controls.street?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.street?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_home">Дом</label>
                    <input type="text" class="form-control" name="home" id="field_home"
                           [(ngModel)]="location.home" [disabled]="!isKazpostNotFound" required />
                    <div [hidden]="!(editForm.controls.home?.dirty && editForm.controls.home?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.home?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jetkizuApp.location.postindex" for="field_postindex">Postindex</label>
                    <input type="text" class="form-control" name="postindex" id="field_postindex" [disabled]="!isKazpostNotFound"
                           [(ngModel)]="location.postindex"  />
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="jetkizuApp.location.flat" for="field_flat">Flat</label>
                <input type="text" class="form-control" name="flat" id="field_flat"
                       [(ngModel)]="location.flat"  />
            </div>-->

            <!--<div class="form-group">
                <ng-template #rty let-r="result" let-t="term">
                    {{ r.metaDataProperty.GeocoderMetaData.text}}
                </ng-template>
                <label for="typeahead-http-yandex">Поиск координат из Yandex:</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" *ngIf="!searching"></i><i class="fa fa-spinner fa-pulse" *ngIf="searching"></i></span>
                    <input id="typeahead-http-yandex" type="text" class="form-control" name="yandex"
                           [class.is-invalid]="searchFailed" (selectItem)="selectedYandexItem($event)" [(ngModel)]="modelYandex" [ngbTypeahead]="searchYandex"
                           [resultTemplate]="rty"
                           [inputFormatter]="formatterYandex"
                           placeholder="Yandex" />
                </div>
                <hr>
                <div class="invalid-feedback">Не нашли? Укажите на карте.</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label jhiTranslate="jetkizuApp.location.lat" for="field_lat">lat:</label>
                        <input type="text" class="form-control" name="lat" id="field_lat"
                               [(ngModel)]="location.lat" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label jhiTranslate="jetkizuApp.location.lon" for="field_lon">lon:</label>
                        <input type="text" class="form-control" name="lon" id="field_lon"
                               [(ngModel)]="location.lon" readonly />
                    </div>
                </div>
            </div>
            <div id="map" style="height: 500px;"></div>

        </fieldset>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
