<div class="m-portlet m-portlet--brand m-portlet--bordered">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa-address-book"></i>
                </span>
                <h3 class="m-portlet__head-text" jhiTranslate="jetkizuApp.jetkizu.backlog">
                    Jetkizus
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" (click)="showImportModal()">
                    <i class="fa fa-upload"></i> Импорт
                </button>
                <a [routerLink]="['/', { outlets: { popup: ['jetkizu-route-new'] } }]" class="btn btn-secondary">
                    <i class="fa fa-road"></i> <span jhiTranslate="jetkizuApp.jetkizuRoute.home.createLabel">Create new Jetkizu</span>
                </a>
                <a [routerLink]="['/', { outlets: { popup: ['route-branch-new'] } }]" class="btn btn-primary">
                    <i class="fa fa-plus"></i> Добавить
                </a>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <jhi-alert></jhi-alert>

        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.jetkizu.home.search' | translate }}">
                        <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                            <span class="fa fa-search"></span>
                        </button>
                        <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="table-responsive" *ngIf="routeBranches">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="createDateTime"><span jhiTranslate="jetkizuApp.jetkizu.createDateTime">Create Date Time</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="name"><span jhiTranslate="jetkizuApp.jetkizu.name">Name</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="weight"><span jhiTranslate="jetkizuApp.jetkizu.weight">Weight</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="location.id"><span jhiTranslate="jetkizuApp.jetkizu.location">Location</span> <span class="fa fa-sort"></span></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let routeBranch of routeBranches ;trackBy: trackId">
                    <td>{{routeBranch.jetkizu.createDateTime | date:'medium'}}</td>
                    <td>{{routeBranch.jetkizu.name}}</td>
                    <td>{{routeBranch.jetkizu.weight}}</td>
                    <td>
                        <div *ngIf="routeBranch.endTo">
                            {{routeBranch.endTo?.fullAddress}}
                        </div>
                    </td>
                    <!--<td>
                        <div *ngIf="jetkizu.customer">
                            <a [routerLink]="['../customer', jetkizu.customer?.id ]" >{{jetkizu.customer?.id}}</a>
                        </div>
                    </td>-->
                    <td>
                        <div ngbDropdown class="d-inline-block" *ngIf="jetkizuRoutes">
                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Маршрут</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="dropdown-item" *ngFor="let jetkizuRoute of jetkizuRoutes | startedRoutePipe"
                                        (click)="addToRoute(routeBranch, jetkizuRoute.id)">
                                    {{ jetkizuRoute.name || (jetkizuRoute.jetkizuDate | date:'dd.MM.yy') }}
                                </button>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../../jetkizu', routeBranch.jetkizu.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'route-branch/'+ routeBranch.id + '/edit'} }]"
                                    replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'route-branch/'+ routeBranch.id + '/delete'} }]"
                                    replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="jetkizuRoutes">

    <div class="m-portlet m-portlet--bordered m-portlet--unair">
        <div class="m-portlet__body ghx-backlog-container ghx-sprint-active js-sprint-container ui-droppable ghx-open"
             style="padding: 0 0;" *ngFor="let jetkizuRoute of jetkizuRoutes | skOrderBy : ['-id']; let routeIndex = index">
            <div class="m-portlet m-portlet--bordered m-portlet--full-height" style="margin-bottom: 0">
                <div class="m-portlet__head" style="border-bottom: none;">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title" style="margin-top: 17px;">
                            <span class="m-portlet__head-text" style="display: inline-block">
                                <span>{{jetkizuRoute?.name || 'Маршрут-'+routeIndex}},</span>
                                <span *ngIf="jetkizuRoute.areaNode?.team?.vehicle; else teamTemplate">{{jetkizuRoute.areaNode.team.vehicle.name}}</span>
                                <ng-template #teamTemplate>{{jetkizuRoute.areaNode?.team?.name || 'Нет команды'}}</ng-template>
                            </span>
                            <div class="ghx-issue-count" >{{jetkizuRoute.routeBranches?.length}} {{getAddressSuffix(jetkizuRoute.routeBranches?.length)}}</div>
                            <div style="margin-top: 5px;">
                                <span style="color: #707070;">{{jetkizuRoute?.jetkizuDate | date: 'dd.MM.yy'}}</span> <span class="divider" style="color: #707070;">•</span> <span style="color: #707070;">{{jetkizuRoute?.createDateTime | date: 'dd.MM.yy HH:MM'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <span class="m-badge  m-badge--brand m-badge--wide" *ngIf="jetkizuRoute?.durationText; else badgeNa">{{jetkizuRoute?.durationText}}</span>
                        <span class="m-badge  m-badge--warning m-badge--wide" *ngIf="jetkizuRoute?.distanceText; else badgeNa">{{jetkizuRoute?.distanceText}}</span>
                        <ng-template #badgeNa><span class="m-badge  m-badge--metal m-badge--wide">N/A</span></ng-template>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding: 1rem 1rem;">
                    <div class="m-widget4">
                        <div class="m-widget4__item"
                             *ngFor="let sequencedBranch of jetkizuRoute.routeBranches | skOrderBy : ['order', 'id']; let i = index"
                             style="padding: 0"
                        >
                            <div class="m-widget4__img m-widget4__img--logo">
                                <!--<img alt="" src="./assets/app/media/img/client-logos/logo5.png">-->
                                <ng-template #statusContent><span>{{'jetkizuApp.jetkizuStatusHistory.'+sequencedBranch.routeBranchStatusHistory.status | translate}}</span></ng-template>
                                <i class="fa fa-circle-o"
                                   [ngbTooltip]="statusContent"
                                   *ngIf="sequencedBranch.routeBranchStatusHistory" [ngClass]="{
                                'm--font-warning': sequencedBranch.routeBranchStatusHistory.status === 'IN_PROCESS',
                                'm--font-primary': sequencedBranch.routeBranchStatusHistory.status === 'DRIVING',
                                'm--font-success': sequencedBranch.routeBranchStatusHistory.status === 'REACHED',
                                'm--font-danger': sequencedBranch.routeBranchStatusHistory.status === 'FAILED',
                                'm--font-info': sequencedBranch.routeBranchStatusHistory.status === 'SKIPPED'}"></i>
                                <i class="fa fa-circle" *ngIf="!sequencedBranch.routeBranchStatusHistory"></i>
                            </div>
                            <div class="m-widget4__info">
								<span class="m-widget4__title">
									<span>{{i+1}}</span>.
                                    <a class="jetkizu-link"
                                       [routerLink]="['/', { outlets: { popup: 'route-branch/'+ sequencedBranch.id + '/edit'} }]">
                                        {{sequencedBranch?.endTo?.street || 'Улица не указана'}} {{sequencedBranch?.endTo?.home || 'Номер дома не указан'}}
                                    </a>
								</span>
                                <br>
                                <span class="m-widget4__sub">
									{{sequencedBranch.jetkizu?.name}}
								</span>
                            </div>
                            <span class="m-widget4__ext" style="
                            width: 115px;
                            margin-top: 12px;
                            display: inline-block;">
								<span class="m-widget4__number m--font-brand">
									<span class="aui-badge ghx-statistic-badge float-right" *ngIf="sequencedBranch.textPlanDistance; else na">{{sequencedBranch.textPlanDistance}}</span>
                                    <span class="aui-badge ghx-statistic-badge float-right" *ngIf="sequencedBranch.textPlanDuration; else na">{{sequencedBranch.textPlanDuration}}</span>
                                    <ng-template #na><span class="aui-badge ghx-statistic-badge float-right">N/A</span></ng-template>
								</span>
							</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div>
    <h2>
        <span jhiTranslate="jetkizuApp.jetkizu.backlog">Jetkizus</span>:
        <small>{{routeBranches.length}}</small>
        <button class="btn btn-primary float-right jh-create-entity create-jetkizu" [routerLink]="['/', { outlets: { popup: ['jetkizu-route-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.jetkizuRoute.home.createLabel">
            Create new Jetkizu
            </span>
        </button>
    </h2>

    <a class="label-info" [routerLink]="['/', { outlets: { popup: ['route-branch-new'] } }]">+ <span jhiTranslate="jetkizuApp.jetkizu.add">Add</span></a>
</div>-->
