
<div *ngIf="jetkizu">
    <div class="modal-header">
        <h2><span jhiTranslate="jetkizuApp.jetkizu.detail.title">Jetkizu</span> {{jetkizu.id}}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jetkizuApp.jetkizu.weight">Weight</span></dt>
            <dd>
                <span>{{jetkizu.weight}}</span>
            </dd>
            <dt><span jhiTranslate="jetkizuApp.jetkizu.createDateTime">Create Date Time</span></dt>
            <dd>
                <span>{{jetkizu.createDateTime | date:'medium'}}</span>
            </dd>
            <dt><span jhiTranslate="jetkizuApp.jetkizu.updateDateTime">Update Date Time</span></dt>
            <dd>
                <span>{{jetkizu.updateDateTime | date:'medium'}}</span>
            </dd>
            <dt><span jhiTranslate="jetkizuApp.jetkizu.flagDeleted">Flag Deleted</span></dt>
            <dd>
                <span>{{jetkizu.flagDeleted}}</span>
            </dd>
            <dt><span jhiTranslate="jetkizuApp.jetkizu.name">Name</span></dt>
            <dd>
                <span>{{jetkizu.name}}</span>
            </dd>
            <dt><span jhiTranslate="jetkizuApp.jetkizu.description">Description</span></dt>
            <dd>
                <span>{{jetkizu.description}}</span>
            </dd>
            <dt><span jhiTranslate="jetkizuApp.jetkizu.jetkizuStatusHistory">Jetkizu Status History</span></dt>
            <dd>
                <div *ngIf="jetkizu.jetkizuStatusHistory">
                    <a [routerLink]="['/jetkizu-status-history', jetkizu.jetkizuStatusHistory?.id]">{{jetkizu.jetkizuStatusHistory?.id}}</a>
                </div>
            </dd>
            <dt><span jhiTranslate="jetkizuApp.jetkizu.location">Location</span></dt>
            <dd>
                <div *ngIf="jetkizu.location">
                    <a [routerLink]="['/location', jetkizu.location?.id]">{{jetkizu.location?.id}}</a>
                </div>
            </dd>
            <dt><span jhiTranslate="jetkizuApp.jetkizu.customer">Customer</span></dt>
            <dd>
                <div *ngIf="jetkizu.customer">
                    <a [routerLink]="['/customer', jetkizu.customer?.id]">{{jetkizu.customer?.id}}</a>
                </div>
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <!--<button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'jetkizu/'+ jetkizu.id + '/edit'} }]"
                replaceUrl="true"
                class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>-->
    </div>

</div>
