@import 'bootstrap-variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body, h1, h2, h3, h4 {
    font-weight: 300;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid green;
}

.ng-invalid:not(form)  {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand, [jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre{
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* ==========================================================================
custom style
========================================================================== */
.modal-xxl .modal-lg {
    max-width: 70%;
}
.simple-marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 25px;
    height: 41px;
    background-image: url("../images/marker-icon.png");
}

/* ==========================================================================
bootstrap 4 vertical tabs
========================================================================== */
$padding-base: 15px;
$color-body: #fff;
$color-border: #ddd;
$color-link: #0275d8;
$border-radius: .25rem;

.nav-tabs {
    &--vertical {
        border-bottom: none;
        border-right: 1px solid $color-border;
        display: flex;
        flex-flow: column nowrap;
    }

    &--left {
        margin: 0 $padding-base;

        .nav-item + .nav-item {
            margin-top: .25rem;
        }

        .nav-link {
            transition: border-color .125s ease-in;
            white-space: nowrap;

            &:hover {
                background-color: lighten($color-border, 10%);
                border-color: transparent;
            }
        }

        .nav-link.active {
            border-bottom-color: $color-border;
            border-right-color: $color-body;
            border-bottom-left-radius: $border-radius;
            border-top-right-radius: 0;
            margin-right: -1px;

            &:hover {
                background-color: $color-body;
                border-color: $color-link $color-body $color-link $color-link;
            }
        }
    }
}


/* ===== */
.ghx-backlog-container.ghx-open .ghx-backlog-header {
    min-height: 33px;
}
.ghx-backlog-container .ghx-backlog-header {
    border: 2px dashed transparent;
}
.ghx-backlog-header {
    min-height: 42px;
    padding-top: 12px;
}
.ghx-backlog-header .ghx-expander {
    cursor: pointer;
    display: inline-block;
    width: 20px;
}
.ghx-iconfont.aui-icon-small {
    height: 16px;
    width: 16px;
}
.ghx-iconfont.aui-icon-small, .ghx-iconfont.aui-icon-large {
    line-height: 0;
    position: relative;
    vertical-align: text-top;
}
.ghx-iconfont {
    color: #707070;
}
.aui-icon {
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: -999em;
    vertical-align: text-bottom;
    width: 16px;
}
.ghx-backlog-container .ghx-name {
    margin-left: -4px;
}
.ghx-backlog-header .ghx-name, .ghx-backlog-header .ghx-issue-count, .ghx-backlog-header .ghx-badge-group, .ghx-backlog-header .ghx-limits {
    display: inline-block;
}
.ghx-backlog-header .ghx-name {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    line-height: 1.42857143;
    white-space: nowrap;
}
.ghx-backlog-container .ghx-name .ghx-editable, .ghx-backlog-container .ghx-name .ghx-readonly {
    padding-right: 0;
    padding-left: 2px;
}
.ghx-editable {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 4px 25px 4px 6px;
    width: 100%;
}
.ghx-backlog-header .ghx-name {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    line-height: 1.42857143;
    white-space: nowrap;
}
.ghx-gh {
    font-size: 14px;
    line-height: 1.42857143;
}
.ghx-backlog-container .ghx-issue-count {
    color: #999;
    margin-left: 6px;
    display: inline-block;
    margin-top: 2px;
}
.ghx-backlog-header .ghx-issue-count, .ghx-backlog-header .ghx-badge-group {
    margin-left: 10px;
}
.ghx-backlog-header .ghx-name, .ghx-backlog-header .ghx-issue-count, .ghx-backlog-header .ghx-badge-group, .ghx-backlog-header .ghx-limits {
    display: inline-block;
}
.ghx-backlog-container.ghx-open .ghx-meta {
    display: block;
}
.ghx-sprint-active.ghx-open .ghx-issues {
    padding-bottom: 20px;
}
.ghx-backlog-container .ghx-issues {
    margin: 10px 20px;
}

/* ======== map style ========== */
.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.jet-marker:hover + .jet-marker.theme-balloon .jet-marker_b {
    border-top-color: rgb(0, 0, 127) !important;
}
.jet-marker:hover + .jet-marker.theme-balloon .jet-marker_a-hover {
    border-top-color: rgb(51, 119, 255) !important;
}

.marker-normal-0 {
    /*background-color: rgb(255, 119, 51);
    border-color: rgb(127, 0, 0);*/
    background-color: rgb(234,40,69);
    border-color: rgb(140,24,41);
    cursor: pointer;
}
.marker-normal-1 {
    background-color: rgb(106,127,232);
    border-color: rgb(63,76,139);
    cursor: pointer;
}
.marker-normal-2 {
    background-color: rgb(106,232,213);
    border-color: rgb(53,116,106);
    cursor: pointer;
}
.marker-normal-3 {
    background-color: rgb(112,232,106);
    border-color: rgb(56,116,53);
    cursor: pointer;
}
.marker-normal-4 {
    background-color: rgb(255,246,94);
    border-color: rgb(127,123,47);
    cursor: pointer;
}
.marker-normal-5 {
    background-color: rgb(242,121,65);
    border-color: rgb(121,60,32);
    cursor: pointer;
}

.marker-hover {
    background-color: rgb(51, 119, 255);
    border-color: rgb(0, 0, 127);
    cursor: pointer;
    z-index: 100000;
}
.marker-se {
    background-color: rgb(51, 153, 51);
    border-color: rgb(0, 25, 0);
    cursor: pointer;
}

.jet-marker.theme-balloon .jet-marker_b-normal-0 {
    border-top-color: rgb(140,24,41) !important;
}
.jet-marker.theme-balloon .jet-marker_b-normal-1 {
    border-top-color: rgb(63,76,139) !important;
}
.jet-marker.theme-balloon .jet-marker_b-normal-2 {
    border-top-color: rgb(53,116,106) !important;
}
.jet-marker.theme-balloon .jet-marker_b-normal-3 {
    border-top-color: rgb(56,116,53) !important;
}
.jet-marker.theme-balloon .jet-marker_b-normal-4 {
    border-top-color: rgb(127,123,47) !important;
}
.jet-marker.theme-balloon .jet-marker_b-normal-5 {
    border-top-color: rgb(121,60,32) !important;
}

.jet-marker.theme-balloon .jet-marker_b-hover {
    border-top-color: rgb(0, 0, 127) !important;
}
.jet-marker.theme-balloon .jet-marker_b-se {
    border-top-color: rgb(0, 25, 0) !important;
}

.jet-marker.theme-balloon .jet-marker_a-normal-0 {
    border-top-color: rgb(234,40,69) !important;
}
.jet-marker.theme-balloon .jet-marker_a-normal-1 {
    border-top-color: rgb(106,127,232) !important;
}
.jet-marker.theme-balloon .jet-marker_a-normal-2 {
    border-top-color: rgb(106,232,213) !important;
}
.jet-marker.theme-balloon .jet-marker_a-normal-3 {
    border-top-color: rgb(112,232,106) !important;
}
.jet-marker.theme-balloon .jet-marker_a-normal-4 {
    border-top-color: rgb(255,246,94) !important;
}
.jet-marker.theme-balloon .jet-marker_a-normal-5 {
    border-top-color: rgb(242,121,65) !important;
}


.jet-marker.theme-balloon .jet-marker_a-hover {
    border-top-color: rgb(51, 119, 255) !important;
}
.jet-marker.theme-balloon .jet-marker_a-se {
    border-top-color: rgb(51, 153, 51) !important;
}

.jet-marker {
    color: #fff;
    font-size: 10px!important;
    text-align: center;
    overflow: visible!important;
    width: auto;
    height: auto;
    margin-top: 0;
}

.theme-balloon {
    border: #333 solid 1px;
    border-radius: 3px;
}

.jet-marker.theme-balloon .jet-marker_b {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
    top: 100%;
}

.jet-marker .markerContent {
    width: auto;
    height: auto;
    padding: 1px;
    min-width: 24px;
    min-height: 18px;
}

.jet-marker .markerContent .markerLabel {
    display: block;
    height: 15px;
    line-height: 15px;
}

.jet-marker.theme-balloon .jet-marker_a {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-width: 4px;
    left: 50%;
    margin-left: -4px;
    margin-top: -1px;
    top: 100%;
}

#m_sortable_portlets .m-portlet__head:hover {
    background-color: #f5f5f5;
}

.ghx-right {
    float: right;
    margin-right: 18px;
}

.dropdown-toggle::after{
    display: none !important;
}

.jetkizu-link {
    font-weight: 600;
    color: #3b73af !important;
}
.jetkizu-link:hover {
    font-weight: 600;
    color: #3b73af !important;
    text-decoration: underline !important;
}

.ghx-summary {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}


.ghx-issue-compact .ghx-end .ghx-statistic-badge {
    white-space: pre-wrap;
    text-transform: lowercase;
}
.ghx-issue-compact .ghx-end .ghx-statistic-badge, .ghx-issue-compact .ghx-end .aui-label {
    vertical-align: middle;
}
.ghx-issue-compact .ghx-statistic-badge, .ghx-issue-compact .ghx-spacer {
    min-width: 15px;
}
.aui-badge {
    background: rgba(0,0,0,0.2);
    border-radius: 2em;
    color: rgba(51,51,51,0.8);
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 0.99;
    margin: 0;
    min-height: 1em;
    min-width: 1em;
    padding: 3px 5px 2px 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}
.ghx-plan-band-2 .ghx-issue-compact .ghx-end.ghx-row {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}
.ghx-issue-compact .ghx-row {
    display: block;
    height: 22px;
    margin: 5px;
    position: relative;
}
.ghx-issue-compact .ghx-end .ghx-end {
    position: static;
    padding: 0;
}
.ghx-issue-compact .ghx-end {
    position: absolute;
    right: 0;
    top: -4px;
    padding: 5px;
}
.ghx-statistic-badge {
    margin-left: 3px;
}
.ghx-issue-compact .ghx-row:not(.ghx-end) {
    position: static;
}
.ghx-issue-compact .ghx-row:first-child {
    margin-left: 5px;
}
.ghx-issue-compact .ghx-row {
    display: block;
    height: 22px;
    margin: 5px;
    position: relative;
}
.ghx-issue-compact {
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    cursor: move;
    font-size: 14px;
    line-height: 1.42857143;
    margin-top: -1px;
    position: relative;
}
