<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVehicleLabel" jhiTranslate="jetkizuApp.vehicle.home.createOrEditLabel">Create or edit a Vehicle</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!vehicle.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="vehicle.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="vehicle.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.govNumber" for="field_govNumber">Gov Number</label>
            <input type="text" class="form-control" name="govNumber" id="field_govNumber"
                [(ngModel)]="vehicle.govNumber" required />
            <div [hidden]="!(editForm.controls.govNumber?.dirty && editForm.controls.govNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.govNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.techPassportNumber" for="field_techPassportNumber">Tech Passport Number</label>
            <input type="text" class="form-control" name="techPassportNumber" id="field_techPassportNumber"
                [(ngModel)]="vehicle.techPassportNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.model" for="field_model">Model</label>
            <input type="text" class="form-control" name="model" id="field_model"
                [(ngModel)]="vehicle.model"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.buildYear" for="field_buildYear">Build Year</label>
            <input type="number" class="form-control" name="buildYear" id="field_buildYear"
                [(ngModel)]="vehicle.buildYear"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="vehicle.type" id="field_type" >
                <option value="FURA">{{'jetkizuApp.VehicleType.FURA' | translate}}</option>
                <option value="GAZEL">{{'jetkizuApp.VehicleType.GAZEL' | translate}}</option>
                <option value="LARGUS">{{'jetkizuApp.VehicleType.LARGUS' | translate}}</option>
                <option value="SEDAN">{{'jetkizuApp.VehicleType.SEDAN' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.height" for="field_height">Height</label>
            <input type="number" class="form-control" name="height" id="field_height"
                [(ngModel)]="vehicle.height"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.length" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                [(ngModel)]="vehicle.length"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.width" for="field_width">Width</label>
            <input type="number" class="form-control" name="width" id="field_width"
                [(ngModel)]="vehicle.width"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.totalWeight" for="field_totalWeight">Total Weight</label>
            <input type="number" class="form-control" name="totalWeight" id="field_totalWeight"
                [(ngModel)]="vehicle.totalWeight"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.deliveryWeight" for="field_deliveryWeight">Delivery Weight</label>
            <input type="number" class="form-control" name="deliveryWeight" id="field_deliveryWeight"
                [(ngModel)]="vehicle.deliveryWeight"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jetkizuApp.vehicle.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                [(ngModel)]="vehicle.note"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
