<div class="m-portlet m-portlet--brand">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa flaticon-truck"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    <span jhiTranslate="jetkizuApp.vehicle.home.title">Vehicles</span>
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <button class="btn btn-primary float-right jh-create-entity create-vehicle" [routerLink]="['/', { outlets: { popup: ['vehicle-new'] } }]">
                <span class="fa fa-plus"></span>
                <span class="hidden-sm-down"  jhiTranslate="jetkizuApp.vehicle.home.createLabel">
                Create new Vehicle
                </span>
            </button>
        </div>
    </div>
    <div class="m-portlet__body">
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jetkizuApp.vehicle.home.search' | translate }}">
                        <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                            <span class="fa fa-search"></span>
                        </button>
                        <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="table-responsive" *ngIf="vehicles">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="name"><span jhiTranslate="jetkizuApp.vehicle.name">Name</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="govNumber"><span jhiTranslate="jetkizuApp.vehicle.govNumber">Gov Number</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="techPassportNumber"><span jhiTranslate="jetkizuApp.vehicle.techPassportNumber">Tech Passport Number</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="model"><span jhiTranslate="jetkizuApp.vehicle.model">Model</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="buildYear"><span jhiTranslate="jetkizuApp.vehicle.buildYear">Build Year</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="type"><span jhiTranslate="jetkizuApp.vehicle.type">Type</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="height"><span jhiTranslate="jetkizuApp.vehicle.height">Height</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="length"><span jhiTranslate="jetkizuApp.vehicle.length">Length</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="width"><span jhiTranslate="jetkizuApp.vehicle.width">Width</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="totalWeight"><span jhiTranslate="jetkizuApp.vehicle.totalWeight">Total Weight</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="deliveryWeight"><span jhiTranslate="jetkizuApp.vehicle.deliveryWeight">Delivery Weight</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="note"><span jhiTranslate="jetkizuApp.vehicle.note">Note</span> <span class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let vehicle of vehicles ;trackBy: trackId">
                    <td><a [routerLink]="['../vehicle', vehicle.id ]">{{vehicle.id}}</a></td>
                    <td>{{vehicle.name}}</td>
                    <td>{{vehicle.govNumber}}</td>
                    <td>{{vehicle.techPassportNumber}}</td>
                    <td>{{vehicle.model}}</td>
                    <td>{{vehicle.buildYear}}</td>
                    <td jhiTranslate="{{'jetkizuApp.VehicleType.' + vehicle.type}}">{{vehicle.type}}</td>
                    <td>{{vehicle.height}}</td>
                    <td>{{vehicle.length}}</td>
                    <td>{{vehicle.width}}</td>
                    <td>{{vehicle.totalWeight}}</td>
                    <td>{{vehicle.deliveryWeight}}</td>
                    <td>{{vehicle.note}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../vehicle', vehicle.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'vehicle/'+ vehicle.id + '/edit'} }]"
                                    replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'vehicle/'+ vehicle.id + '/delete'} }]"
                                    replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="vehicles && vehicles.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
