
<div *ngIf="vehicle">
    <h2><span jhiTranslate="jetkizuApp.vehicle.detail.title">Vehicle</span> {{vehicle.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jetkizuApp.vehicle.name">Name</span></dt>
        <dd>
            <span>{{vehicle.name}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.govNumber">Gov Number</span></dt>
        <dd>
            <span>{{vehicle.govNumber}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.techPassportNumber">Tech Passport Number</span></dt>
        <dd>
            <span>{{vehicle.techPassportNumber}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.model">Model</span></dt>
        <dd>
            <span>{{vehicle.model}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.buildYear">Build Year</span></dt>
        <dd>
            <span>{{vehicle.buildYear}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'jetkizuApp.VehicleType.' + vehicle.type}}">{{vehicle.type}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.height">Height</span></dt>
        <dd>
            <span>{{vehicle.height}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.length">Length</span></dt>
        <dd>
            <span>{{vehicle.length}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.width">Width</span></dt>
        <dd>
            <span>{{vehicle.width}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.totalWeight">Total Weight</span></dt>
        <dd>
            <span>{{vehicle.totalWeight}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.deliveryWeight">Delivery Weight</span></dt>
        <dd>
            <span>{{vehicle.deliveryWeight}}</span>
        </dd>
        <dt><span jhiTranslate="jetkizuApp.vehicle.note">Note</span></dt>
        <dd>
            <span>{{vehicle.note}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vehicle/'+ vehicle.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
